# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

# apiVersion v2 is Helm 3
---
apiVersion: v2
name: airflow
version: 1.8.0-dev
appVersion: 2.5.1
description: The official Helm chart to deploy Apache Airflow, a platform to
  programmatically author, schedule, and monitor workflows
home: https://airflow.apache.org/
sources:
  - https://github.com/apache/airflow
icon: https://airflow.apache.org/images/airflow_dark_bg.png
keywords:
  - apache
  - airflow
  - workflow
  - scheduler
dependencies:
  - name: postgresql
    version: 12.1.9
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
maintainers:
  - email: dev@airflow.apache.org
    name: Apache Airflow PMC
type: application
annotations:
  artifacthub.io/links: |
    - name: Documentation
      url: https://airflow.apache.org/docs/helm-chart/1.8.0/
  artifacthub.io/screenshots: |
    - title: DAGs View
      url: https://airflow.apache.org/docs/apache-airflow/2.5.1/_images/dags.png
    - title: Datasets View
      url: https://airflow.apache.org/docs/apache-airflow/2.5.1/_images/datasets.png
    - title: Grid View
      url: https://airflow.apache.org/docs/apache-airflow/2.5.1/_images/grid.png
    - title: Graph View
      url: https://airflow.apache.org/docs/apache-airflow/2.5.1/_images/graph.png
    - title: Calendar View
      url: https://airflow.apache.org/docs/apache-airflow/2.5.1/_images/calendar.png
    - title: Variable View
      url: https://airflow.apache.org/docs/apache-airflow/2.5.1/_images/variable_hidden.png
    - title: Gantt Chart
      url: https://airflow.apache.org/docs/apache-airflow/2.5.1/_images/gantt.png
    - title: Task Duration
      url: https://airflow.apache.org/docs/apache-airflow/2.5.1/_images/duration.png
    - title: Code View
      url: https://airflow.apache.org/docs/apache-airflow/2.5.1/_images/code.png
    - title: Task Instance Context Menu
      url: https://airflow.apache.org/docs/apache-airflow/2.5.1/_images/context.png
  artifacthub.io/changes: |
    - description: Add annotations on deployments
      kind: added
      links:
      - name: '#28688'
        url: https://github.com/apache/airflow/pull/28688
    - description: Add global volume & volumeMounts to the chart
      kind: added
      links:
      - name: '#27781'
        url: https://github.com/apache/airflow/pull/27781
    - description: Add support for ``webserverConfigConfigMapName``
      kind: changed
      links:
      - name: '#27419'
        url: https://github.com/apache/airflow/pull/27419
    - description: Enhance chart to allow overriding command-line args to statsd exporter
      kind: changed
      links:
      - name: '#28041'
        url: https://github.com/apache/airflow/pull/28041
    - description: Add support for NodePort in Services
      kind: changed
      links:
      - name: '#26945'
        url: https://github.com/apache/airflow/pull/26945
    - description: Add worker log-groomer-sidecar enable option
      kind: changed
      links:
      - name: '#27178'
        url: https://github.com/apache/airflow/pull/27178
    - description: Add HostAliases to Pod template file
      kind: changed
      links:
      - name: '#27544'
        url: https://github.com/apache/airflow/pull/27544
    - description: Allow PgBouncer replicas to be configurable
      kind: changed
      links:
      - name: '#27439'
        url: https://github.com/apache/airflow/pull/27439
    - description: Create scheduler service to serve task logs for LocalKubernetesExecutor
      kind: fixed
      links:
      - name: '#28828'
        url: https://github.com/apache/airflow/pull/28828
    - description: Fix NOTES.txt to show correct URL
      kind: fixed
      links:
      - name: '#28264'
        url: https://github.com/apache/airflow/pull/28264
    - description: Add worker service account for LocalKubernetesExecutor
      kind: fixed
      links:
      - name: '#28813'
        url: https://github.com/apache/airflow/pull/28813
    - description: Remove checks for 1.19 api checks
      kind: fixed
      links:
      - name: '#28461'
        url: https://github.com/apache/airflow/pull/28461
    - description: Add airflow_local_settings to all airflow containers
      kind: fixed
      links:
      - name: '#27779'
        url: https://github.com/apache/airflow/pull/27779
    - description: Make custom env vars optional for job templates
      kind: fixed
      links:
      - name: '#27148'
        url: https://github.com/apache/airflow/pull/27148
    - description: Decrease default gitSync wait
      kind: fixed
      links:
      - name: '#27625'
        url: https://github.com/apache/airflow/pull/27625
    - description: Add ``extraVolumeMounts`` to sidecars too
      kind: fixed
      links:
      - name: '#27420'
        url: https://github.com/apache/airflow/pull/27420
    - description: Fix PgBouncer after PostgreSQL subchart upgrade
      kind: fixed
      links:
      - name: '#29207'
        url: https://github.com/apache/airflow/pull/29207
    - description: 'Docs: Enhance production guide with a few Argo specific guidelines'
      kind: changed
      links:
      - name: '#29078'
        url: https://github.com/apache/airflow/pull/29078
    - description: 'Docs: Add doc note about Pod template images'
      kind: changed
      links:
      - name: '#29032'
        url: https://github.com/apache/airflow/pull/29032
    - description: 'Docs: Update production guide db section'
      kind: changed
      links:
      - name: '#28610'
        url: https://github.com/apache/airflow/pull/28610
    - description: 'Docs: Fix to LoadBalancer snippet'
      kind: changed
      links:
      - name: '#28014'
        url: https://github.com/apache/airflow/pull/28014
    - description: 'Docs: Fix gitSync example code'
      kind: changed
      links:
      - name: '#28083'
        url: https://github.com/apache/airflow/pull/28083
    - description: 'Docs: Correct repo example for cloning via ssh'
      kind: changed
      links:
      - name: '#27671'
        url: https://github.com/apache/airflow/pull/27671
    - description: 'Misc: Update Airflow version to 2.5.1'
      kind: changed
      links:
      - name: '#29074'
        url: https://github.com/apache/airflow/pull/29074
    - description: 'Misc: Update git-sync to 3.6.3'
      kind: changed
      links:
      - name: '#27848'
        url: https://github.com/apache/airflow/pull/27848
    - description: 'Misc: Upgrade ``bitnami/postgresql`` subchart to 12.1.9'
      kind: changed
      links:
      - name: '#29071'
        url: https://github.com/apache/airflow/pull/29071
    - description: 'Misc: Update redis to 7'
      kind: changed
      links:
      - name: '#27443'
        url: https://github.com/apache/airflow/pull/27443
    - description: 'Misc: Replace helm chart icon'
      kind: changed
      links:
      - name: '#27704'
        url: https://github.com/apache/airflow/pull/27704
