# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

# apiVersion v2 is Helm 3
---
apiVersion: v2
name: airflow
version: 1.7.0-dev
appVersion: 2.3.3
description: The official Helm chart to deploy Apache Airflow, a platform to
  programmatically author, schedule, and monitor workflows
home: https://airflow.apache.org/
sources:
  - https://github.com/apache/airflow
icon: https://airflow.apache.org/docs/apache-airflow/stable/_images/pin_large.png
keywords:
  - apache
  - airflow
  - workflow
  - scheduler
dependencies:
  - name: postgresql
    version: 10.5.3
    condition: postgresql.enabled
maintainers:
  - email: dev@airflow.apache.org
    name: Apache Airflow PMC
type: application
annotations:
  artifacthub.io/links: |
    - name: Documentation
      url: https://airflow.apache.org/docs/helm-chart/1.6.0/
  artifacthub.io/screenshots: |
    - title: DAGs View
      url: https://airflow.apache.org/docs/apache-airflow/2.3.3/_images/dags.png
    - title: Tree View
      url: https://airflow.apache.org/docs/apache-airflow/2.3.3/_images/grid.png
    - title: Graph View
      url: https://airflow.apache.org/docs/apache-airflow/2.3.3/_images/graph.png
    - title: Calendar View
      url: https://airflow.apache.org/docs/apache-airflow/2.3.3/_images/calendar.png
    - title: Variable View
      url: https://airflow.apache.org/docs/apache-airflow/2.3.3/_images/variable_hidden.png
    - title: Gantt Chart
      url: https://airflow.apache.org/docs/apache-airflow/2.3.3/_images/gantt.png
    - title: Task Duration
      url: https://airflow.apache.org/docs/apache-airflow/2.3.3/_images/duration.png
    - title: Code View
      url: https://airflow.apache.org/docs/apache-airflow/2.3.3/_images/code.png
    - title: Task Instance Context Menu
      url: https://airflow.apache.org/docs/apache-airflow/2.3.3/_images/context.png
  artifacthub.io/changes: |
    - description: Support ``annotations`` on ``volumeClaimTemplates``
      kind: added
      links:
      - name: '#23433'
        url: https://github.com/apache/airflow/pull/23433
    - description: Add support for ``topologySpreadConstraints`` to Helm Chart
      kind: added
      links:
      - name: '#22712'
        url: https://github.com/apache/airflow/pull/22712
    - description: Helm support for LocalKubernetesExecutor
      kind: added
      links:
      - name: '#22388'
        url: https://github.com/apache/airflow/pull/22388
    - description: Add ``securityContext`` config for Redis to Helm chart
      kind: added
      links:
      - name: '#22182'
        url: https://github.com/apache/airflow/pull/22182
    - description: Allow ``annotations`` on Helm DAG PVC
      kind: added
      links:
      - name: '#22261'
        url: https://github.com/apache/airflow/pull/22261
    - description: enable optional ``subPath`` for DAGs volume mount
      kind: added
      links:
      - name: '#22323'
        url: https://github.com/apache/airflow/pull/22323
    - description: Added support to override ``auth_type`` in ``auth_file`` in PgBouncer
        Helm configuration
      kind: added
      links:
      - name: '#21999'
        url: https://github.com/apache/airflow/pull/21999
    - description: Add ``extraVolumeMounts`` to Flower
      kind: added
      links:
      - name: '#22414'
        url: https://github.com/apache/airflow/pull/22414
    - description: Add webserver ``PodDisruptionBudget``
      kind: added
      links:
      - name: '#21735'
        url: https://github.com/apache/airflow/pull/21735
    - description: Ensure the messages from migration job show up early
      kind: changed
      links:
      - name: '#23479'
        url: https://github.com/apache/airflow/pull/23479
    - description: Allow migration jobs and init containers to be optional
      kind: changed
      links:
      - name: '#22195'
        url: https://github.com/apache/airflow/pull/22195
    - description: Use jobs check command for liveness probe check in Airflow 2
      kind: changed
      links:
      - name: '#22143'
        url: https://github.com/apache/airflow/pull/22143
    - description: 'Docs: Adds ``resultBackendSecretName`` warning in Helm production
        docs'
      kind: changed
      links:
      - name: '#23307'
        url: https://github.com/apache/airflow/pull/23307
    - description: 'Misc: Update default Airflow version to ``2.3.0``'
      kind: changed
      links:
      - name: '#23386'
        url: https://github.com/apache/airflow/pull/23386
    - description: 'Misc: Move the database configuration to a new section'
      kind: changed
      links:
      - name: '#22284'
        url: https://github.com/apache/airflow/pull/22284
    - description: 'Misc: Disable flower in chart by default'
      kind: changed
      links:
      - name: '#23737'
        url: https://github.com/apache/airflow/pull/23737
