# Core
/airflow-core/src/airflow/executors/ @XD-DENG @ashb @o-nikolas @pierrejeambrun @hussein-awala
/airflow-core/src/airflow/jobs/ @ashb @XD-DENG
/airflow-core/src/airflow/models/ @XD-DENG @ashb

# DAG Serialization
/airflow-core/src/airflow/serialization/ @ashb @bolkedebruin

# DAG Parsing
/airflow-core/src/airflow/dag_processing @jedcunningham @ephraimbuddy

# Kubernetes
/providers/cncf/kubernetes/ @dstandish @jedcunningham

# Helm Chart
/chart/ @jedcunningham @hussein-awala @jscheffl

# Docs
/docs/*.py @potiuk @ashb @gopidesupavan @amoghrajesh @jscheffl @bugraoz93 @kaxil @jason810496

# API
/airflow-core/src/airflow/api/ @ephraimbuddy @pierrejeambrun @rawwar @jason810496
/airflow-core/src/airflow/api_fastapi/ @ephraimbuddy @pierrejeambrun @rawwar @jason810496 @bugraoz93 @shubhamraj-git
/airflow-core/src/airflow/api_fastapi/execution_api/ @ashb @kaxil @amoghrajesh

# Airflow CTL
/airflow-ctl/ @bugraoz93 @potiuk

# Airflow CLI
/airflow-core/src/airflow/cli/ @bugraoz93 @potiuk

# Auth manager
/airflow-core/src/airflow/api_fastapi/auth/ @vincbeck

# UI
/airflow-core/src/airflow/ui/ @bbovenzi @pierrejeambrun @ryanahamilton @shubhamraj-git @guan404ming

# Translation Owners (i18n)
# Note: Non committer engaged translators are listed in comments prevent making file syntax invalid
# See: https://github.com/apache/airflow/blob/main/airflow-core/src/airflow/ui/public/i18n/README.md#43-engaged-translator
airflow-core/src/airflow/ui/public/i18n/locales/ar/ @shahar1 @hussein-awala # + @ahmadtfarhan
airflow-core/src/airflow/ui/public/i18n/locales/ca/ @jscheffl @bugraoz93 # + @ecodina
airflow-core/src/airflow/ui/public/i18n/locales/de/ @jscheffl # + @TJaniF @m1racoli
airflow-core/src/airflow/ui/public/i18n/locales/el/ @ashb # + @PApostol @xBis7
airflow-core/src/airflow/ui/public/i18n/locales/es/ @bbovenzi # + @aoelvp94
airflow-core/src/airflow/ui/public/i18n/locales/fr/ @pierrejeambrun @vincbeck
airflow-core/src/airflow/ui/public/i18n/locales/he/ @shahar1 @romsharon98 # +@Dev-iL
airflow-core/src/airflow/ui/public/i18n/locales/hi/ @vatsrahul1001
airflow-core/src/airflow/ui/public/i18n/locales/hu/ @jscheffl @potiuk # +@majorosdonat
airflow-core/src/airflow/ui/public/i18n/locales/it/ @bbovenzi # + @aoelvp94
airflow-core/src/airflow/ui/public/i18n/locales/ko/ @jscheffl @potiuk # + @choo121600 @kgw7401 @onestn
airflow-core/src/airflow/ui/public/i18n/locales/nl/ @BasPH # + @DjVinnii
airflow-core/src/airflow/ui/public/i18n/locales/pl/ @potiuk @mobuchowski # + @kacpermuda
airflow-core/src/airflow/ui/public/i18n/locales/pt/ @potiuk  # + @aoelvp94 @victoru2
airflow-core/src/airflow/ui/public/i18n/locales/th/ @potiuk # + @zkan @blackbass64 @lifnaja @Aphinan-Th @chonla @Srabasti
airflow-core/src/airflow/ui/public/i18n/locales/tr/ @bugraoz93 # +@hasancatalgol
airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/ @potiuk # + @Fortytwoo @gyli
airflow-core/src/airflow/ui/public/i18n/locales/zh-TW/ @Lee-W @jason810496 @guan404ming # + @RoyLee1224

# Security/Permissions
/airflow-core/src/airflow/security/permissions.py @vincbeck

# Calendar/Timetables
/airflow-core/src/airflow/timetables/ @uranusjr
/docs/apache-airflow/concepts/timetable.rst @uranusjr

# Task expansion, scheduling, and rendering
/airflow-core/src/airflow/models/abstractoperator.py @uranusjr
/airflow-core/src/airflow/models/baseoperator.py @uranusjr
/airflow-core/src/airflow/models/expandinput.py @uranusjr
/airflow-core/src/airflow/models/mappedoperator.py @uranusjr
/airflow-core/src/airflow/models/operator.py @uranusjr
/airflow-core/src/airflow/models/xcom_arg.py @uranusjr
/docs/apache-airflow/concepts/dynamic-task-mapping.rst @uranusjr

# Async Operators & Triggerer
/airflow-core/src/airflow/cli/commands/triggerer_command.py @dstandish @hussein-awala
/airflow-core/src/airflow/jobs/triggerer_job_runner.py @dstandish @hussein-awala
/docs/apache-airflow/authoring-and-scheduling/deferring.rst @dstandish @hussein-awala

# Secrets Backends
/airflow-core/src/airflow/secrets @dstandish @ashb

# Providers
/providers/amazon/ @o-nikolas
/providers/celery/ @hussein-awala
/providers/cncf/kubernetes @jedcunningham @hussein-awala
/providers/common/messaging/ @vincbeck
/providers/dbt/cloud/ @josh-fell
/providers/edge3/ @jscheffl
/providers/fab/ @vincbeck
/providers/hashicorp/ @hussein-awala
/providers/keycloak/ @vincbeck @bugraoz93
/providers/openlineage/ @mobuchowski
/providers/smtp/ @hussein-awala
/providers/snowflake/ @potiuk
/providers/apache/iceberg/ @Fokko

# Dev tools
/.github/workflows/ @potiuk @ashb @gopidesupavan @amoghrajesh @jscheffl @bugraoz93 @kaxil @jason810496
/dev/ @potiuk @ashb @gopidesupavan @amoghrajesh @jscheffl @bugraoz93 @kaxil @jason810496 @jedcunningham @ephraimbuddy
/dev/react-plugin-tools/ @pierrejeambrun @bbovenzi
/docker-tests/ @potiuk @ashb @gopidesupavan @jason810496
/kubernetes-tests/ @potiuk @ashb @gopidesupavan @jason810496
/helm-tests/ @dstandish @jedcunningham
/scripts/ @potiuk @ashb @gopidesupavan @amoghrajesh @jscheffl @bugraoz93 @kaxil @jason810496
Dockerfile @potiuk @ashb @gopidesupavan @amoghrajesh @jscheffl @bugraoz93 @kaxil @jason810496
Dockerfile.ci @potiuk @ashb @gopidesupavan @amoghrajesh @jscheffl @bugraoz93 @kaxil @jason810496

# E2E integration tests
/airflow-e2e-tests/ @potiuk @ashb @gopidesupavan @amoghrajesh @jscheffl @bugraoz93 @kaxil @jason810496

# Task SDK integration tests
/task-sdk-integration-tests/ @potiuk @ashb @gopidesupavan @amoghrajesh @jscheffl @bugraoz93 @kaxil @jason810496

# airflowctl integration tests
/airflow-ctl-tests/ @potiuk @ashb @gopidesupavan @amoghrajesh @jscheffl @bugraoz93 @kaxil @jason810496

# Issue triage process
# ISSUE_TRIAGE_PROCESS.rst

# AIP-52 - Setup and Teardown
/airflow-core/src/airflow/decorators/setup_teardown.py @jedcunningham @ephraimbuddy @dstandish
/airflow-core/src/airflow/example_dags/example_setup_teardown*.py @jedcunningham @ephraimbuddy @dstandish
/airflow-core/src/airflow/utils/setup_teardown.py @jedcunningham @ephraimbuddy @dstandish

# AIP-58 - Object Storage
/airflow-core/src/airflow/io/ @bolkedebruin
/providers/**/fs/ @bolkedebruin
/providers/common/io/ @bolkedebruin
/docs/apache-airflow/core-concepts/objectstorage.rst @bolkedebruin

# Migrations
/airflow-core/src/airflow/migrations/ @ephraimbuddy
/providers/fab/src/airflow-core/src/airflow/providers/fab/migrations/ @ephraimbuddy

# AIP-72 - Task SDK
# Python SDK
/task-sdk/ @ashb @kaxil @amoghrajesh

# Golang SDK
/go-sdk/ @ashb @kaxil @amoghrajesh

# Shared Libraries
/shared/ @ashb @amoghrajesh @potiuk
