# Core
/airflow/executors/ @kaxil @XD-DENG @ashb @o-nikolas
/airflow/jobs/ @kaxil @ashb @XD-DENG
/airflow/models/ @kaxil @XD-DENG @ashb

# DAG Serialization
/airflow/serialization/ @kaxil @ashb

# DAG Parsing
/airflow/dag_processing @jedcunningham @ephraimbuddy

# Kubernetes
/airflow/kubernetes/ @dstandish @jedcunningham
/airflow/kubernetes_executor_templates/ @dstandish @jedcunningham
/airflow/executors/celery_kubernetes_executor.py @dstandish @jedcunningham
/airflow/executors/kubernetes_executor.py @dstandish @jedcunningham

# Helm Chart
/chart/ @dstandish @jedcunningham

# Docs (without Providers)
/docs/apache-airflow @potiuk
/docs/docker-stack @potiuk
/docs/helm-chart @dstandish @jedcunningham
/docs/*.py @kaxil @potiuk

# API
/airflow/api/ @ephraimbuddy
/airflow/api_connexion/ @ephraimbuddy

# WWW
/airflow/www/ @ryanahamilton @ashb @bbovenzi

# Security/Permissions
/airflow/security/permissions.py @jhtimmins
/airflow/www/security.py @jhtimmins
/airflow/api_connexion/security.py @jhtimmins

# Calendar/Timetables
/airflow/timetables/ @uranusjr
/docs/apache-airflow/concepts/timetable.rst @uranusjr

# Task expansion, scheduling, and rendering
/airflow/models/abstractoperator.py @uranusjr
/airflow/models/baseoperator.py @uranusjr
/airflow/models/expandinput.py @uranusjr
/airflow/models/mappedoperator.py @uranusjr
/airflow/models/operator.py @uranusjr
/airflow/models/xcom_arg.py @uranusjr
/docs/apache-airflow/concepts/dynamic-task-mapping.rst @uranusjr

# Async Operators & Triggerer
/airflow/jobs/triggerer_job.py @dstandish
/airflow/cli/commands/triggerer_command.py @dstandish
/airflow/models/trigger.py @dstandish
/docs/apache-airflow/concepts/deferring.rst @dstandish

# Secrets Backends
/airflow/secrets  @dstandish @kaxil @potiuk @ashb

# Providers
/airflow/providers/snowflake/ @potiuk @mik-laj
/airflow/providers/cncf/kubernetes @jedcunningham
/airflow/providers/dbt/cloud/ @josh-fell
/airflow/providers/tabular/ @Fokko
/airflow/providers/amazon/ @eladkal @o-nikolas
/airflow/providers/common/sql/ @eladkal
/airflow/providers/slack/ @eladkal
/docs/apache-airflow-providers-amazon/ @eladkal @o-nikolas
/docs/apache-airflow-providers-common-sql/ @eladkal
/docs/apache-airflow-providers-slack/ @eladkal
/docs/apache-airflow-providers-cncf-kubernetes @jedcunningham
/tests/providers/amazon/ @eladkal @o-nikolas
/tests/providers/common/sql/ @eladkal
/tests/providers/slack/ @eladkal

# Dev tools
/.github/workflows/ @potiuk @ashb @kaxil
Dockerfile @potiuk @ashb
Dockerfile.ci @potiuk @ashb
/dev/ @potiuk @ashb @jedcunningham
/provider_packages/ @potiuk @ashb
/scripts/ @potiuk @ashb
/docker_tests/ @potiuk @ashb

# Releasing Guides & Project Guidelines
/dev/README_RELEASE_*.md  @kaxil
/dev/README.md  @kaxil
/dev/PROJECT_GUIDELINES.md  @kaxil
/dev/PROVIDER_PACKAGE_DETAILS.md  @kaxil
