# Core
/airflow/executors/ @kaxil @XD-DENG @ashb @o-nikolas @pierrejeambrun @hussein-awala
/airflow/jobs/ @kaxil @ashb @XD-DENG
/airflow/models/ @kaxil @XD-DENG @ashb

# DAG Serialization
/airflow/serialization/ @kaxil @ashb @bolkedebruin

# DAG Parsing
/airflow/dag_processing @jedcunningham @ephraimbuddy

# Kubernetes
/airflow/kubernetes/ @dstandish @jedcunningham
/airflow/providers/cncf/kubernetes/executors/ @dstandish @jedcunningham

# Helm Chart
/chart/ @dstandish @jedcunningham @hussein-awala

# Docs (without Providers)
/docs/*.py @kaxil @potiuk
/docs/apache-airflow @potiuk
/docs/docker-stack @potiuk
/docs/helm-chart @dstandish @jedcunningham

# API
/airflow/api/ @ephraimbuddy @pierrejeambrun
/airflow/api_connexion/ @ephraimbuddy @pierrejeambrun
/airflow/api_fastapi/ @ephraimbuddy @pierrejeambrun

# WWW
/airflow/www/ @ryanahamilton @ashb @bbovenzi @pierrejeambrun @jscheffl

# UI
/airflow/ui/ @bbovenzi @pierrejeambrun @ryanahamilton @jscheffl

# Security/Permissions
/airflow/api_connexion/security.py @vincbeck
/airflow/security/permissions.py @vincbeck
/airflow/www/security.py @vincbeck

# Calendar/Timetables
/airflow/timetables/ @uranusjr
/docs/apache-airflow/concepts/timetable.rst @uranusjr

# Task expansion, scheduling, and rendering
/airflow/models/abstractoperator.py @uranusjr
/airflow/models/baseoperator.py @uranusjr
/airflow/models/expandinput.py @uranusjr
/airflow/models/mappedoperator.py @uranusjr
/airflow/models/operator.py @uranusjr
/airflow/models/xcom_arg.py @uranusjr
/docs/apache-airflow/concepts/dynamic-task-mapping.rst @uranusjr

# Async Operators & Triggerer
/airflow/cli/commands/triggerer_command.py @dstandish @hussein-awala
/airflow/jobs/triggerer_job.py @dstandish @hussein-awala
/airflow/models/trigger.py @dstandish @hussein-awala
/docs/apache-airflow/concepts/deferring.rst @dstandish @hussein-awala

# Secrets Backends
/airflow/secrets  @dstandish @kaxil @potiuk @ashb

# Providers
/airflow/providers/amazon/ @eladkal @o-nikolas
/airflow/providers/celery/ @hussein-awala
/airflow/providers/cncf/kubernetes @jedcunningham @hussein-awala
/airflow/providers/common/sql/ @eladkal
/airflow/providers/dbt/cloud/ @josh-fell
/airflow/providers/edge @jscheffl
/airflow/providers/hashicorp/ @hussein-awala
/airflow/providers/openlineage/ @mobuchowski
/airflow/providers/slack/ @eladkal
/airflow/providers/smtp/ @hussein-awala
/airflow/providers/snowflake/ @potiuk @mik-laj
/airflow/providers/tabular/ @Fokko
/docs/apache-airflow-providers-amazon/ @eladkal @o-nikolas
/docs/apache-airflow-providers-cncf-kubernetes @jedcunningham
/docs/apache-airflow-providers-common-sql/ @eladkal
/docs/apache-airflow-providers-openlineage/ @mobuchowski
/docs/apache-airflow-providers-slack/ @eladkal
/tests/providers/amazon/ @eladkal @o-nikolas
/tests/providers/common/sql/ @eladkal
/tests/providers/openlineage/ @mobuchowski
/tests/providers/slack/ @eladkal
/tests/system/providers/amazon/ @eladkal @o-nikolas

# Dev tools
/.github/workflows/ @potiuk @ashb @kaxil
/dev/ @potiuk @ashb @jedcunningham
/docker_tests/ @potiuk @ashb
/provider_packages/ @potiuk @ashb
/scripts/ @potiuk @ashb
Dockerfile @potiuk @ashb
Dockerfile.ci @potiuk @ashb

# Releasing Guides & Project Guidelines
/dev/PROJECT_GUIDELINES.md  @kaxil
/dev/PROVIDER_PACKAGE_DETAILS.md  @kaxil
/dev/README.md  @kaxil
/dev/README_RELEASE_*.md  @kaxil @pierrejeambrun
/dev/README_RELEASE_PROVIDER_PACKAGES.md  @eladkal
ISSUE_TRIAGE_PROCESS.rst @eladkal

# AIP-52 - Setup and Teardown
/airflow/decorators/setup_teardown.py @jedcunningham @ephraimbuddy @dstandish
/airflow/example_dags/example_setup_teardown*.py @jedcunningham @ephraimbuddy @dstandish
/airflow/utils/setup_teardown.py @jedcunningham @ephraimbuddy @dstandish

# AIP-58 - Object Storage
/airflow/io/ @bolkedebruin
/airflow/providers/**/fs/ @bolkedebruin
/airflow/providers/common/io/ @bolkedebruin
/docs/apache-airflow/core-concepts/objectstorage.rst @bolkedebruin
