#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.


[run]
branch = True
relative_files = True
source = airflow
omit =
    airflow/_vendor/**
    airflow/contrib/**
    airflow/example_dags/**
    airflow/migrations/**
    airflow/providers/**/example_dags/**
    airflow/www/node_modules/**
    airflow/providers/google/ads/_vendor/**

[report]
skip_empty = True
exclude_lines =
    pragma: no cover
    @abstractmethod
    @abstractproperty
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
