_infra/ci/py27/
_infra/development/dockerfiles/
_infra/development/readme.md
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
