clients export-ignore
clients export-ignore
dev export-ignore
docker-context-files export-ignore
docker_tests export-ignore
empty export-ignore
kubernetes_tests export-ignore
manifests export-ignore
newsfragments export-ignore
scripts export-ignore
tests export-ignore
chart/charts/** export-ignore

Dockerfile.ci export-ignore

ISSUE_TRIAGE_PROCESS.rst export-ignore
CONTRIBUTING.rst export-ignore
CI.rst export-ignore
CI_DIAGRAMS.md export-ignore
contributing_docs/ export-ignore

.devcontainer export-ignore
.github export-ignore
.readthedocs.yml export-ignore
.hadolint.yaml export-ignore
.pre-commit-config.yaml export-ignore
.mailmap export-ignore
.editorconfig export-ignore
.inputrc export-ignore
.codespellignorelines export-ignore
.gitmodules export-ignore
.gitpod.yml export-ignore
.markdownlint.yml export-ignore
.bash_completion export-ignore
.asf.yaml export-ignore
