chart/charts/** export-ignore
clients export-ignore
contributing-docs/ export-ignore
dev export-ignore
devel-common export-ignore
docker-context-files export-ignore
docker-tests export-ignore
empty export-ignore
helm-tests export-ignore
kubernetes-tests export-ignore
manifests export-ignore
newsfragments export-ignore
scripts export-ignore

Dockerfile.ci export-ignore
CONTRIBUTING.rst export-ignore
ISSUE_TRIAGE_PROCESS.rst export-ignore

.asf.yaml export-ignore
.bash_completion export-ignore
.codespellignorelines export-ignore
.devcontainer export-ignore
.editorconfig export-ignore
.github export-ignore
.gitmodules export-ignore
.gitpod.yml export-ignore
.hadolint.yaml export-ignore
.inputrc export-ignore
.mailmap export-ignore
.markdownlint.yml export-ignore
.pre-commit-config.yaml export-ignore
.readthedocs.yml export-ignore

* text=auto eol=lf
*.yml text eol=lf
*.yaml text eol=lf
