breeze export-ignore
breeze-legacy export-ignore
breeze-complete export-ignore
clients export-ignore
clients export-ignore
dev export-ignore
docker-context-files export-ignore
docker_tests export-ignore
empty export-ignore
kubernetes_tests export-ignore
manifests export-ignore
newsfragments export-ignore
scripts export-ignore
tests export-ignore

Dockerfile.ci export-ignore

ISSUE_TRIAGE_PROCESS.rst export-ignore
PULL_REQUEST_WORKFLOW.rst export-ignore
STATIC_CODE_CHECKS.rst export-ignore
TESTING.rst export-ignore
LOCAL_VIRTUALENV.rst export-ignore
CONTRIBUTING.rst export-ignore
BREEZE.rst export-ignore
CI.rst export-ignore
CI_DIAGRAMS.md export-ignore
CONTRIBUTORS_QUICK_START.rst export-ignore

.devcontainer export-ignore
.github export-ignore
.coveragerc export-ignore
.readthedocs.yml export-ignore
.hadolint.yaml export-ignore
.pre-commit-config.yaml export-ignore
.mailmap export-ignore
.editorconfig export-ignore
.flake8 export-ignore
.inputrc export-ignore
.codespellignorelines export-ignore
.gitmodules export-ignore
.gitpod.yml export-ignore
.markdownlint.yml export-ignore
.bash_completion export-ignore
.asf.yaml export-ignore
