# Editable install with no version control (apache-airflow==2.1.0.dev0)
Babel==2.9.0
Flask-AppBuilder==3.2.1
Flask-Babel==1.0.0
Flask-Bcrypt==0.7.1
Flask-Caching==1.10.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OAuthlib==0.9.5
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
Flask==1.1.2
HeapDict==1.0.1
Jinja2==2.11.3
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
PyJWT==1.7.1
PyYAML==5.4.1
Pygments==2.8.1
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.36.8
SQLAlchemy==1.3.23
WTForms==2.3.3
Werkzeug==1.0.1
alembic==1.5.7
amqp==2.6.1
apispec==3.3.2
appdirs==1.4.4
argcomplete==1.12.2
attrs==20.3.0
bcrypt==3.2.0
billiard==3.6.3.0
blinker==1.4
cachetools==4.2.1
cattrs==1.4.0
celery==4.4.7
certifi==2020.12.5
cffi==1.14.5
cgroupspy==0.1.6
chardet==3.0.4
click==7.1.2
clickclick==20.10.2
cloudpickle==1.4.1
colorama==0.4.4
colorlog==4.7.2
commonmark==0.9.1
connexion==2.7.0
croniter==0.3.37
cryptography==3.4.6
dask==2021.3.0
defusedxml==0.7.1
dill==0.3.3
distlib==0.3.1
distributed==2.19.0
dnspython==1.16.0
docutils==0.16
email-validator==1.1.2
eventlet==0.30.2
filelock==3.0.12
flower==0.9.7
gevent==21.1.2
google-auth==1.28.0
graphviz==0.16
greenlet==1.0.0
gunicorn==19.10.0
humanize==3.3.0
idna==2.10
importlib-metadata==1.7.0
importlib-resources==1.5.0
inflection==0.5.1
iso8601==0.1.14
isodate==0.6.0
itsdangerous==1.1.0
jsonschema==3.2.0
kombu==4.6.11
kubernetes==11.0.0
lazy-object-proxy==1.4.3
ldap3==2.9
lockfile==0.12.2
marshmallow-enum==1.5.1
marshmallow-oneofschema==2.1.0
marshmallow-sqlalchemy==0.23.1
marshmallow==3.10.0
msgpack==1.0.2
natsort==7.1.1
numpy==1.20.1
oauthlib==2.1.0
openapi-schema-validator==0.1.4
openapi-spec-validator==0.3.0
pandas==1.2.3
pendulum==2.1.2
prison==0.1.3
prometheus-client==0.8.0
psutil==5.8.0
pyOpenSSL==19.1.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pykerberos==1.2.1
pyrsistent==0.17.3
python-daemon==2.3.0
python-dateutil==2.8.1
python-editor==1.0.4
python-ldap==3.3.1
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2021.1
pytzdata==2020.1
requests-kerberos==0.12.0
requests-oauthlib==1.1.0
requests==2.25.1
rich==9.2.0
rsa==4.7.2
sasl==0.2.1
sentry-sdk==1.0.0
setproctitle==1.2.2
six==1.15.0
sortedcontainers==2.3.0
statsd==3.3.0
swagger-ui-bundle==0.0.8
tabulate==0.8.9
tblib==1.7.0
tenacity==6.2.0
termcolor==1.1.0
text-unidecode==1.3
thrift-sasl==0.4.2
thrift==0.13.0
toolz==0.11.1
tornado==6.1
typing-extensions==3.7.4.3
unicodecsv==0.14.1
urllib3==1.25.11
vine==1.3.0
virtualenv==20.4.3
websocket-client==0.58.0
zict==2.0.0
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.3.0
