aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
alembic==1.16.5
anyio==4.10.0
apache-airflow==2.10.3
apache-airflow-providers-amazon==9.13.0
apache-airflow-providers-common-compat==1.7.3
apache-airflow-providers-common-io==1.6.2
apache-airflow-providers-common-sql==1.28.0
apache-airflow-providers-fab==1.5.3
apache-airflow-providers-ftp==3.13.2
apache-airflow-providers-http==5.3.4
apache-airflow-providers-imap==3.9.2
apache-airflow-providers-smtp==2.2.1
apache-airflow-providers-sqlite==4.1.2
apispec==6.8.3
argcomplete==3.6.2
asgiref==3.9.1
asn1crypto==1.5.1
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.5
blinker==1.9.0
boto3==1.40.30
botocore==1.40.30
cachelib==0.13.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.2.1
clickclick==20.10.2
colorama==0.4.6
colorlog==6.9.0
ConfigUpdater==3.2
connexion==2.14.2
coverage==7.10.6
cron_descriptor==2.0.6
croniter==6.0.0
cryptography==45.0.7
Deprecated==1.2.18
dill==0.4.0
dnspython==2.8.0
email-validator==2.3.0
Flask==2.2.5
Flask-AppBuilder==4.5.3
Flask-Babel==2.0.0
Flask-Caching==2.3.1
Flask-JWT-Extended==4.7.1
Flask-Limiter==3.13
Flask-Login==0.6.3
Flask-Session==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.2
frozenlist==1.7.0
fsspec==2025.9.0
google-re2==1.1.20250805
googleapis-common-protos==1.70.0
grpcio==1.74.0
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
importlib_metadata==8.7.0
inflection==0.5.1
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
jsonpath-ng==1.7.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
lazy-object-proxy==1.12.0
limits==5.5.0
linkify-it-py==2.0.3
lockfile==0.12.2
lxml==5.4.0
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
marshmallow-oneofschema==3.2.0
marshmallow-sqlalchemy==0.28.2
mdit-py-plugins==0.5.0
mdurl==0.1.2
methodtools==0.4.7
more-itertools==10.8.0
multidict==6.6.4
opentelemetry-api==1.37.0
opentelemetry-exporter-otlp==1.37.0
opentelemetry-exporter-otlp-proto-common==1.37.0
opentelemetry-exporter-otlp-proto-grpc==1.37.0
opentelemetry-exporter-otlp-proto-http==1.37.0
opentelemetry-proto==1.37.0
opentelemetry-sdk==1.37.0
opentelemetry-semantic-conventions==0.58b0
ordered-set==4.1.0
packaging==25.0
pathspec==0.12.1
pendulum==3.1.0
pluggy==1.6.0
ply==3.11
prison==0.2.1
propcache==0.3.2
protobuf==6.32.1
psutil==7.0.0
PyAthena==3.18.0
pycparser==2.23
Pygments==2.19.2
PyJWT==2.10.1
pytest==8.4.2
pytest-cov==7.0.0
pytest-mock==3.15.0
python-daemon==3.1.2
python-dateutil==2.9.0.post0
python-nvd3==0.16.0
python-slugify==8.0.4
pytz==2025.2
PyYAML==6.0.2
redshift-connector==2.1.8
referencing==0.36.2
requests==2.32.5
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rich==14.1.0
rich-argparse==1.7.1
rpds-py==0.27.1
s3transfer==0.14.0
sagemaker_studio==1.0.21
scramp==1.4.6
setproctitle==1.3.7
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==1.4.54
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.42.0
sqlparse==0.5.3
tabulate==0.9.0
tenacity==9.1.2
termcolor==3.1.0
text-unidecode==1.3
typing_extensions==4.15.0
tzdata==2025.2
uc-micro-py==1.0.3
universal_pathlib==0.2.6
urllib3==2.5.0
watchtower==3.4.0
Werkzeug==2.2.3
wirerope==1.0.0
wrapt==1.17.3
WTForms==3.2.1
yarl==1.20.1
zipp==3.23.0
