alembic==0.8.10
-e git+https://github.com/benjaminsims/incubator-airflow@cf4624f847fb5f57c27c02aefea6040099f9631c#egg=apache_airflow
asn1crypto==0.23.0
bleach==2.0.0
certifi==2017.7.27.1
cffi==1.11.0
chardet==3.0.4
click==6.7
configparser==3.5.0
croniter==0.3.19
cryptography==2.0.3
dill==0.2.7.1
docker==2.5.1
docker-pycreds==0.2.1
docutils==0.14
Flask==0.11.1
Flask-Admin==1.4.1
Flask-Cache==0.13.1
Flask-Login==0.2.11
flask-swagger==0.2.13
Flask-WTF==0.14
funcsigs==1.0.0
future==0.16.0
gitdb2==2.0.3
GitPython==2.1.7
gunicorn==19.3.0
html5lib==0.999999999
idna==2.6
itsdangerous==0.24
Jinja2==2.8.1
jsonschema==2.6.0
lockfile==0.12.2
lxml==3.8.0
Mako==1.0.7
Markdown==2.6.9
MarkupSafe==1.0
numpy==1.13.3
ordereddict==1.1
pandas==0.20.3
psutil==4.4.2
pycparser==2.18
Pygments==2.2.0
python-daemon==2.1.2
python-dateutil==2.6.1
python-editor==1.0.3
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2017.2
PyYAML==3.12
requests==2.18.4
setproctitle==1.1.10
six==1.11.0
smmap2==2.0.3
SQLAlchemy==1.1.14
tabulate==0.7.7
thrift==0.9.3
tqdm==4.18.0
Unidecode==0.4.21
urllib3==1.22
webencodings==0.5.1
websocket-client==0.44.0
Werkzeug==0.12.2
WTForms==2.1
zope.deprecation==4.3.0
