/local-airflow/
autopep8==1.4.4
awscli==1.16.194
boto3==1.9.184
cron-descriptor==1.2.21
crontab==0.22.6
Flask==1.0.0
ndg-httpsclient==0.5.1
psycopg2-binary==2.8.3
pyasn1==0.4.5
pycodestyle==2.5.0
pyhocon==0.3.51
pyOpenSSL==19.0.0
pytz==2019.1
redis>=2.10.5,<3
requests==2.22.0
werkzeug>=0.15.0
yapf==0.27.0
