---
pagination:
  data: providers.providers
  size: 1
  alias: provider
permalink: "/providers/{{ provider.id }}/"
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html>
<head>
  <link rel="canonical" href="{{ '/providers/' | url }}{{ provider.id }}/{{ provider.version }}/">
  <title>Redirecting to {{ provider.name }} {{ provider.version }}</title>
  <script>window.location.replace("{{ '/providers/' | url }}{{ provider.id }}/{{ provider.version }}/" + window.location.hash);</script>
  <noscript><meta http-equiv="refresh" content="0; url={{ '/providers/' | url }}{{ provider.id }}/{{ provider.version }}/"></noscript>
</head>
<body>
  <p>Redirecting to <a href="{{ '/providers/' | url }}{{ provider.id }}/{{ provider.version }}/">{{ provider.name }} {{ provider.version }}</a>...</p>
</body>
</html>
