# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
---
services:
  airflow:
    volumes:
      # Removes airflow sources from container
      - type: bind
        source: ./empty
        target: /opt/airflow/airflow
      # Removes task_sdk sources from container
      - type: bind
        source: ./empty
        target: /opt/airflow/task_sdk
      # Removes providers sources from container (but not tests)
      - type: bind
        source: ./empty
        target: /opt/airflow/providers/src
      # Remove all provider sources from container
      # START automatically generated volumes by generate-volumes-for-sources pre-commit
      - ../../../empty:/opt/airflow/providers/airbyte/src
      - ../../../empty:/opt/airflow/providers/alibaba/src
      - ../../../empty:/opt/airflow/providers/apache/beam/src
      - ../../../empty:/opt/airflow/providers/apache/cassandra/src
      - ../../../empty:/opt/airflow/providers/apache/iceberg/src
      - ../../../empty:/opt/airflow/providers/apache/kafka/src
      - ../../../empty:/opt/airflow/providers/apache/kylin/src
      - ../../../empty:/opt/airflow/providers/apache/livy/src
      - ../../../empty:/opt/airflow/providers/apache/pig/src
      - ../../../empty:/opt/airflow/providers/apache/pinot/src
      - ../../../empty:/opt/airflow/providers/apache/spark/src
      - ../../../empty:/opt/airflow/providers/apprise/src
      - ../../../empty:/opt/airflow/providers/asana/src
      - ../../../empty:/opt/airflow/providers/atlassian/jira/src
      - ../../../empty:/opt/airflow/providers/celery/src
      - ../../../empty:/opt/airflow/providers/cohere/src
      - ../../../empty:/opt/airflow/providers/common/compat/src
      - ../../../empty:/opt/airflow/providers/common/io/src
      - ../../../empty:/opt/airflow/providers/common/sql/src
      - ../../../empty:/opt/airflow/providers/datadog/src
      - ../../../empty:/opt/airflow/providers/discord/src
      - ../../../empty:/opt/airflow/providers/docker/src
      - ../../../empty:/opt/airflow/providers/edge/src
      - ../../../empty:/opt/airflow/providers/exasol/src
      - ../../../empty:/opt/airflow/providers/facebook/src
      - ../../../empty:/opt/airflow/providers/ftp/src
      - ../../../empty:/opt/airflow/providers/hashicorp/src
      - ../../../empty:/opt/airflow/providers/http/src
      - ../../../empty:/opt/airflow/providers/imap/src
      - ../../../empty:/opt/airflow/providers/influxdb/src
      - ../../../empty:/opt/airflow/providers/jenkins/src
      - ../../../empty:/opt/airflow/providers/mongo/src
      - ../../../empty:/opt/airflow/providers/mysql/src
      - ../../../empty:/opt/airflow/providers/neo4j/src
      - ../../../empty:/opt/airflow/providers/odbc/src
      - ../../../empty:/opt/airflow/providers/openai/src
      - ../../../empty:/opt/airflow/providers/openfaas/src
      - ../../../empty:/opt/airflow/providers/openlineage/src
      - ../../../empty:/opt/airflow/providers/opsgenie/src
      - ../../../empty:/opt/airflow/providers/pagerduty/src
      - ../../../empty:/opt/airflow/providers/papermill/src
      - ../../../empty:/opt/airflow/providers/pgvector/src
      - ../../../empty:/opt/airflow/providers/pinecone/src
      - ../../../empty:/opt/airflow/providers/postgres/src
      - ../../../empty:/opt/airflow/providers/presto/src
      - ../../../empty:/opt/airflow/providers/qdrant/src
      - ../../../empty:/opt/airflow/providers/samba/src
      - ../../../empty:/opt/airflow/providers/segment/src
      - ../../../empty:/opt/airflow/providers/sftp/src
      - ../../../empty:/opt/airflow/providers/singularity/src
      - ../../../empty:/opt/airflow/providers/slack/src
      - ../../../empty:/opt/airflow/providers/snowflake/src
      - ../../../empty:/opt/airflow/providers/ssh/src
      - ../../../empty:/opt/airflow/providers/standard/src
      - ../../../empty:/opt/airflow/providers/tableau/src
      - ../../../empty:/opt/airflow/providers/telegram/src
      - ../../../empty:/opt/airflow/providers/teradata/src
      - ../../../empty:/opt/airflow/providers/trino/src
      - ../../../empty:/opt/airflow/providers/vertica/src
      - ../../../empty:/opt/airflow/providers/weaviate/src
      - ../../../empty:/opt/airflow/providers/ydb/src
      - ../../../empty:/opt/airflow/providers/zendesk/src
      # END automatically generated volumes by generate-volumes-for-sources pre-commit
      # However we keep in_container scripts in order to be able to debug easily the scripts that
      # are run with --mount-sources removed flag - such as installing airflow and providers
      - type: bind
        source: ../../../scripts/in_container
        target: /opt/airflow/scripts/in_container
