{{/*
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
*/}}

{{- /*
The sole purpose of this yaml file is it to check the values file is consistent for some complexe combinations.
*/ -}}

{{- /*
##############################
   Redis related checks
#############################
*/ -}}

  {{- if or (eq .Values.executor "CeleryExecutor") (eq .Values.executor "CeleryKubernetesExecutor") }}
    {{- if .Values.redis.enabled }}

      {{- if .Values.redis.passwordSecretName }}
        {{- $existedBrokerUrlCmd := false }}
        {{- range .Values.env }}
          {{- if eq .name "AIRFLOW__CELERY__BROKER_URL_CMD" }}
            {{- $existedBrokerUrlCmd = true }}
            {{- break -}}
          {{- end }}
        {{- end }}

        {{- if not (or .Values.data.brokerUrlSecretName $existedBrokerUrlCmd) }}
          {{ required "When using the internal redis of the chart and setting the value redis.passwordSecretName, you must also set the value data.brokerUrlSecretName or AIRFLOW__CELERY__BROKER_URL_CMD in env." nil }}
        {{- end }}
      {{- end }}

      {{- if and .Values.redis.passwordSecretName .Values.redis.password }}
        {{ required "You must not set both values redis.passwordSecretName and redis.password" nil }}
      {{- end }}

    {{- else }}

      {{- if not (or .Values.data.brokerUrlSecretName .Values.data.brokerUrl) }}
        {{ required "You must set one of the values data.brokerUrlSecretName or data.brokerUrl when using a Celery based executor with redis.enabled set to false (we need the url to the redis instance)." nil }}
      {{- end }}

    {{- end }}

    {{- if and .Values.data.brokerUrlSecretName .Values.data.brokerUrl }}
      {{ required "You must not set both values data.brokerUrlSecretName and data.brokerUrl" nil }}
    {{- end }}

  {{- end }}

  {{- if .Values.elasticsearch.enabled  }}
    {{- if and .Values.elasticsearch.secretName .Values.elasticsearch.connection }}
      {{ required "You must not set both values elasticsearch.secretName and elasticsearch.connection" nil }}
    {{- end }}

    {{- if not (or .Values.elasticsearch.secretName .Values.elasticsearch.connection) }}
      {{ required "You must set one of the values elasticsearch.secretName or elasticsearch.connection when using a Elasticsearch" nil }}
    {{- end }}

  {{- end }}

{{- /*
#####################################
   Multirepo GitSync Related Changes
   We will check Below Rules
    1 . Duplicate Entry of git-repos and branch combinations in repositories section in values.yaml
    2 . ContainerName should be unique for every repos
######################################
*/
-}}

  {{- if .Values.dags.gitSync.enabled }}

    {{- if hasKey .Values.dags.gitSync "repositories" }}

      {{- if lt (len .Values.dags.gitSync.repositories) 1 }}
        {{- fail (printf " gitSync is enabled : Please provide git repo information under repositories. Please check the values.yaml for more information ") }}

      {{- else }}

        {{- $repoCount := len .Values.dags.gitSync.repositories }}
        {{- $uniqueNames := dict }}
        {{- $uniqueContainer := dict }}

        # Check if repositories list has duplicate repo and branch combination

        {{- range .Values.dags.gitSync.repositories }}
          {{- $key_names := printf "%s-%s" .repo .branch }}  # Create a unique key based on repo and branch
          {{- $key_container := printf "%s" .containerName }} # Create a unique key based on containerName
          {{- if not (hasKey $uniqueNames $key_names) }}  # Check if the key is not already in the dictionary
            {{- $_ := set $uniqueNames $key_names $key_names }}  # Add the key to the dictionary
          {{- end }}
          {{- if not (hasKey $uniqueContainer $key_container) }}  # Check if the key is not already in the dictionary
            {{- $_ := set $uniqueContainer $key_container $key_container }}  # Add the key to the dictionary
          {{- end }}
        {{- end }}

        {{- $uniqueNamesCount := len $uniqueNames }}  # Count the number of unique combinations
        {{- $uniqueContainerCount := len $uniqueContainer }}  # Count the number of unique combinations

        {{- if not (eq $uniqueNamesCount $repoCount) }}
          {{- fail (printf " Validation Error: Duplicate Entry Found , %d unique repo-branch combinations, but the number of repositories provided : %d. "
          $uniqueNamesCount (len .Values.dags.gitSync.repositories)) }}
        {{- end }}

        {{- if not (eq $uniqueContainerCount $repoCount) }}
          {{- fail (printf " Validation Error: Duplicate Entry Found , %d unique containerNames, but the number of repositories provided : %d. "
          $uniqueContainerCount (len .Values.dags.gitSync.repositories)) }}
        {{- end }}

      {{- end }}

    {{- else }}
      {{- fail (printf " gitSync is enabled : repositories section can not be nil ") }}

    {{- end }}

  {{- end }}
