apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: airflow-worker
spec:
  serviceName: airflow-worker
  podManagementPolicy: Parallel
  volumeClaimTemplates:
    - apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: logs
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 100Gi
