# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

# NOTE FOR CONTRIBUTORS:
#
# Note this is an example TEAM based config.
#
# Values specified in this file are automatically used in our unit tests
# run by pytest and override default airflow configuration values provided by config.yml.
#
# These configuration settings should provide consistent environment to run tests -
# no matter if you are in Breeze env or use local venv or even run tests in the CI environment.
#
# If you want to have all unit tests to get some default configuration value, you should set it here.
#
# You cannot use ``conf_vars`` context manager to override the configuration for this config at this moment.
#
# The test configuration is loaded via setting AIRFLOW__CORE__UNIT_TEST_MODE=True
# in a pytest fixture in tests/conftest.py. This in turn triggers reloading of the configuration
# from this file after cleaning the respective configuration retrieved during initialization
# of configuration. See ``load_test_config`` function in ``airflow/config.py`` for details.
#

[core]
executor = SequentialExecutor
