{#
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
#}

{% import 'appbuilder/baselib.html' as baselib with context %}


{% if appbuilder %}
{% set app_name = appbuilder.app_name %}
{% endif %}

<html>
<head>
  <title>{% block page_title %}{{app_name}}{% endblock %}</title>

  {% block head_meta %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  {% endblock %}
  {% block head_css %}
  <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/font-awesome.min.css')}}" rel="stylesheet">
  {% if appbuilder.app_theme %}
  <link href="{{url_for('static',filename='appbuilder/css/themes/'+ appbuilder.app_theme )}}"  rel="stylesheet">
  {% endif %}

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="{{url_for('static',filename='js/html5shiv.js')}}"></script>
  <script src="{{url_for('static',filename='js/respond.min.js')}}"></script>
  <![endif]-->

  <link href="{{url_for('static',filename='datepicker/bootstrap-datepicker.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='select2/select2.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/flags/flags16.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/ab.css')}}" rel="stylesheet">
  {% endblock %}
  {% block head_js %}
  <script src="{{url_for('static',filename='js/jquery-latest.js')}}"></script>
  <script src="{{url_for('static',filename='js/ab_filters.js')}}"></script>
  <script src="{{url_for('static',filename='js/ab_actions.js')}}"></script>
  {% endblock %}

</head>

<body >

{% block body %}
{% endblock %}


{% block tail_js %}
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='datepicker/bootstrap-datepicker.js')}}"></script>
<script src="{{url_for('static',filename='select2/select2.js')}}"></script>
<script src="{{url_for('static',filename='js/ab.js')}}"></script>
{% endblock %}

{% block add_tail_js %}
{% endblock %}

{% block tail %}
{% endblock %}

</body>
</html>
