# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

#
# NOTE:
#
# IF YOU ARE LOOKING FOR DEFAULT CONFIGURATION FILE HERE  - LOOK NO MORE. READ EXPLANATION BELOW!
#
# This file used to have something that was similar to the default Airflow configuration but it was
# really just a template. It was used to generate the final configuration and it was confusing
# if you copied it to your configuration and some of values were wrong.
#
# The first time you run Airflow, it will create a file called ``airflow.cfg`` in
# your ``$AIRFLOW_HOME`` directory (``~/airflow`` by default). This is in order to make it easy to
# "play" with airflow configuration.
#
# However, for production case you are advised to generate the configuration using command line:
#
#         airflow config list --defaults
#
# This command will produce the output that you can copy to your configuration file and edit.
# It will contain all the default configuration options, with examples, nicely commented out
# so you need only un-comment and modify those that you want to change.
# This way you can easily keep track of all the configuration options that you changed from default
# and you can also easily upgrade your installation to new versions of Airflow when they come out and
# automatically use the defaults for existing options if they changed there.
#
# You can redirect it to your configuration file and edit it:
#
#         airflow config list --defaults > "${AIRFLOW_HOME}/airflow.cfg"
#
