# Format: //devtools/kokoro/config/proto/build.proto

# Location of the bash script. Should have value <git_on_borg_scm.name>/<path_from_repository_root>.
# git_on_borg_scm.name is specified in the job configuration (google3/devtools/kokoro/config/prod/composer/airflow_cheetah).
build_file: "airflow-cheetah/run_kokoro.sh"
