astroid~=3.2.2
attrs~=23.2.0
autoflake==4.12.3
beautifulsoup4~=4.12.3
black==23.4.2
click~=8.1.7
docker==7.1.0
google==3.0.0
google-api-python-client==2.134.0
google-auth
google-auth-httplib2==0.2.0
google-cloud-container==2.47.0
google-cloud-monitoring==1.0.0
grpcio
httplib2~=0.22.0
# Pin to avoid conflicts with virtualenv:
#
# > virtualenv 20.0.31 requires importlib-metadata<2,>=0.12; python_version < "3.8", but
# > you'll have importlib-metadata 2.0.0 which is incompatible.
importlib-metadata<2,>=0.12
Jinja2==3.1.4
kubernetes==30.1.0
loguru~=0.7.2
Markdown==3.6
MarkupSafe~=1.1.1
matplotlib~=3.3.3
numpy~=1.19.4
packaging~=20.4
pandas==1.0.4
parameterized==0.7.4
pdfkit==0.6.1
pre-commit==2.2.0
Pygments~=2.7.2
pylint==2.4.4
pytest==5.1.3
python-dateutil~=2.8.1
pytz~=2020.1
PyYAML~=5.3.1
requests~=2.24.0
rich~=9.1.0
scipy~=1.5.0
setuptools~=41.2.0
shortuuid==1.0.1
six~=1.15.0
tabulate~=0.8.7
urllib3~=1.25.11
