---
pagination:
  data: providerVersions
  size: 1
  alias: pv
permalink: "/api/providers/{{ pv.provider.id }}/{{ pv.version }}/connections.json"
eleventyExcludeFromCollections: true
---
{%- if pv.connections -%}
{{ pv.connections | dump | safe }}
{%- else -%}
{"provider_id":"{{ pv.provider.id }}","provider_name":"{{ pv.provider.name }}","version":"{{ pv.version }}","generated_at":null,"connection_types":[]}
{%- endif -%}
