#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

alembic<0.9,>=0.8.3
bcrypt
boto
celery
cgroupspy
chartkick
cloudant>=0.5.9,<2.0
coverage
coveralls
croniter
cryptography
dill<0.3,>=0.2.2
docker-py
filechunkio
flake8
flask<1.1.0
flask-admin<=1.5.0,>=1.4.1
flask-bcrypt
flask-cache
flask-login==0.2.11
Flask-WTF==0.14.0
flower
freezegun
future<0.16,>=0.15.0
gunicorn
hdfs
hive-thrift-py
impyla
ipython
jaydebeapi
jinja2>=2.10,<3.0
jira
JPype1==0.7.1  # Dropped python2 support
ldap3
lxml>=3.6.0,<4.0
markdown==2.5.2
mock
mysqlclient
nose
nose-exclude
nose-ignore-docstring==0.2
nose-parameterized
pandas<0.21
pandas-gbq
psutil>=4.2.0, <5.0.0
psycopg2
pydruid
pygments
pyhive
pykerberos
PyOpenSSL
PySmbClient
python-daemon>=2.1.1, <2.2
python-dateutil>=2.3, <3
qds-sdk>=1.9.6
redis
requests>=2.5.1, <3
requests-kerberos
setproctitle
slackclient
sphinx
sphinx-argparse
Sphinx-PyPI-upload
sphinx_rtd_theme
sqlalchemy==1.3.0
statsd
thrift
thrift_sasl
unicodecsv
werkzeug==0.14.0
