{
  "$schema": "http://json.schemastore.org/prettierrc",
  "endOfLine": "lf",
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^openapi/",
    "^src/system-components",
    "^src/layouts",
    "^src/pages",
    "^src/components",
    "^(src|tests)/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "jsxSingleQuote": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 110,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
