html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0 !important;
}


#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 20% auto 1fr;
  grid-auto-flow: row dense;
}

#base-info-container {
  grid-row: span 1;
  grid-column: span 2;
}

#result-container {
  grid-row: span 2;
  grid-column: span 1;
}

#error-tag-container {
  --width: 100%;
  --height: 100%;
  grid-row: span 1;
  grid-column: span 1;
}


.base-info-item {
  --height: 100%;
  --width: auto;
  padding: auto;
  flex: auto;
}

.button-double-check {
  --height: auto;
}

#actions-container {
  width: 100%;
  height: 40px;
}

.action-content {
  height: 100%;
}

#echarts-container {
  --width: auto;
  --height: auto;
}

#echarts-main {
  flex: 1
}



#result_table {
  width: 100%;
  table-layout: fixed;
}

.result-content-row {
  min-width: 100%;
  height: 30px;
}

.result-content-item {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
