{#
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
#}
Core operators
==============
At the moment, two core operators support OpenLineage. These operators function as a 'black box,'
capable of running any code, which might limit the extent of lineage extraction (e.g. lineage will usually not contain
input/output datasets). To enhance the extraction of lineage information, operators can utilize the hooks listed
below that support OpenLineage.

- :class:`~airflow.providers.standard.operators.python.PythonOperator` (via :class:`airflow.providers.openlineage.extractors.python.PythonExtractor`)
- :class:`~airflow.providers.standard.operators.bash.BashOperator` (via :class:`airflow.providers.openlineage.extractors.bash.BashExtractor`)

Spark operators
===============
The OpenLineage integration can automatically inject information into Spark application properties when its being submitted from Airflow.
The following is a list of supported operators along with the corresponding information that can be injected.
See :ref:`automatic injection of parent job information <options:spark_inject_parent_job_info>` for more details.


apache-airflow-providers-apache-livy
"""""""""""""""""""""""""""""""""""""

- :class:`~airflow.providers.apache.livy.operators.livy.LivyOperator`
    - Parent Job Information
    - Transport Information (only HTTP transport is supported for now (with api_key auth, if any))


apache-airflow-providers-apache-spark
"""""""""""""""""""""""""""""""""""""

- :class:`~airflow.providers.apache.spark.operators.spark_submit.SparkSubmitOperator`
    - Parent Job Information
    - Transport Information (only HTTP transport is supported for now (with api_key auth, if any))


apache-airflow-providers-google
"""""""""""""""""""""""""""""""

- :class:`~airflow.providers.google.cloud.operators.dataproc.DataprocCreateBatchOperator`
    - Parent Job Information
    - Transport Information (only HTTP transport is supported for now (with api_key auth, if any))
- :class:`~airflow.providers.google.cloud.operators.dataproc.DataprocInstantiateInlineWorkflowTemplateOperator`
    - Parent Job Information
    - Transport Information (only HTTP transport is supported for now (with api_key auth, if any))
- :class:`~airflow.providers.google.cloud.operators.dataproc.DataprocSubmitJobOperator`
    - Parent Job Information
    - Transport Information (only HTTP transport is supported for now (with api_key auth, if any))


.. _sql-operators:

SQL operators
=============

Operators inheriting from :class:`~airflow.providers.common.sql.operators.sql.BaseSQLOperator` may be supported
out of the box. These operators can use SQL parsing and may query DB for lineage extraction.
To extract unique data from each database type, a dedicated Hook implementing OpenLineage methods is required.
Not all subclasses of :class:`~airflow.providers.common.sql.operators.sql.BaseSQLOperator` are automatically supported,
only those also using a supported Hook and similar attribute naming convention (e.g., storing query under `self.sql`).

.. important::
  The level of OpenLineage extraction may vary between SQL operators. Most will provide the executed SQL text,
  while others may also expose additional metadata such as query IDs or other query-related information. Due to
  the automatic generation of this documentation, some operators listed as supported SQL operators may not contain
  full lineage information. Please review the implementation of your operator and its corresponding hook to confirm
  the level of OpenLineage support.

Currently, the following databases (hooks) are supported together with SQL operators:

{% for hook, db_type in db_hooks %}
- {{ db_type }} (via :class:`~{{ hook }}`)
{% endfor %}


Providers
=========
The operators and hooks listed below from each provider are natively equipped with OpenLineage support.

{%for provider_name, provider_dict in providers.items() %}
{{ provider_name }} ({{ provider_dict['version'] }})
{{ '"' * 2 * (provider_name|length) }}

{% if provider_dict['operators'] %}
Operators
^^^^^^^^^
{% for operator, methods in provider_dict['operators'].items() %}
- :class:`~{{ operator }}`
{% endfor %}
{% endif %}

{% if provider_dict['db_operators'] %}
:ref:`SQL operators* <sql-operators>`
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
{% for db_operator, methods in provider_dict['db_operators'].items() %}
- :class:`~{{ db_operator }}`
{% endfor %}
{% endif %}

{% if provider_dict['hooks'] %}
Hooks
^^^^^
{% for hook, methods in provider_dict['hooks'].items() %}
- :class:`~{{ hook }}`
  {% for method in methods %}
  - :meth:`~{{ method }}`
  {% endfor %}
{% endfor %}
{% endif %}

{% endfor %}
