{% extends "appbuilder/base.html" %}
{% import 'airflow/panel.html' as panel %}


{% block head_css %}
{{ super() }}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/bootstrap3-extend.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/curves.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/bootstrap-treeview.min.css') }}">
<script src="{{ url_for('static', filename='js/echarts.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id="root">
  {% call panel.panel('曲线列表') %}
  <div class="d-flex w-100 h-100 flex-column overflow-hidden">
    <div class="panel-body flex-grow-1 overflow-auto">
      <div id="tree" class=""></div>
    </div>
    <div class="panel-body">
      <button id="btn-view-curves" class="btn btn-primary btn-block">查看</button>
    </div>
  </div>
  {% endcall %}
  {% include 'airflow/curve_chart.html' %}
</div>

{% endblock %}


{% block tail_js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/bootstrap-treeview.js') }}" type="text/javascript"></script>
<script type="text/javascript">
  const entityIds = JSON.parse('{{ entity_ids|tojson|safe }}');
  const selectedEIds = [];
  let curvesData = {};

  function entityIdSelect(entityId) {
    const idx = selectedEIds.findIndex(id => id === entityId);
    if (idx < 0) {
      selectedEIds.push(entityId);
    }
  }

  function entityIdUnselect(entityId) {
    const idx = selectedEIds.findIndex(id => id === entityId);
    if (idx >= 0) {
      selectedEIds.splice(idx, 1);
    }
  }

  function curvesListInit() {
    const treeView = $('#tree');
    treeView.treeview({
      data: entityIds.map(id => ({
        entityId: id,
        text: id
      })),
      showCheckbox: true
    });
    treeView.off('nodeSelected');
    treeView.off('nodeChecked');
    treeView.on('nodeSelected', (event, data) => {
      $('#tree').treeview('toggleNodeChecked', [data.nodeId]);
      $('#tree').treeview('toggleNodeSelected', [data.nodeId], { silent: true });
    });
    treeView.on('nodeChecked', (event, data) => {
      entityIdSelect(data.entityId);
    }).on('nodeUnchecked', (event, data) => {
      entityIdUnselect(data.entityId);
    });
  }

  function render() {
    renderChart();
  }

  function genData(entityId, xKey, yKey) {
    if (!entityId || !curvesData[entityId] || !curvesData[entityId][xKey] || !curvesData[entityId][yKey]) {
      return [];
    }
    const curve = curvesData[entityId];
    const xData = curve[xKey];
    const yData = curve[yKey];
    return xData.map((x, idx) => [xData[idx], yData[idx]]);
  }

  function genDataSeries() {
    if ((!curvesData) || Object.keys(curvesData).length === 0) {
      return [];
    }
    const { xKey, yKey } = chartParams;
    return selectedEIds.map(c => ({
      name: c,
      type: 'line',
      data: genData(c, xKey, yKey),
      cursor: 'pointer',
      showSymbol: false,
      symbol: 'circle',
      lineStyle: {
        width: 3
      }
    }));
  }

  function renderChart() {
    const { xName, yName } = chartParams;
    const option = {
      // title: {
      //   text: `${xName}-${yName}图`
      // },
      legend: {
        type: 'scroll',
        data: selectedEIds
      },
      grid: {
        bottom: 100
      },
      xAxis: {
        type: 'value',
        name: xName,
        nameLocation: 'middle',
        nameGap: 30,
        axisLabel: {
          fontSize: 16
        }
      },
      yAxis: {
        type: 'value',
        name: yName,
        nameLocation: 'middle',
        nameRotate: 0,
        nameGap: 50,
        axisLabel: {
          fontSize: 16
        }
      },
      series: genDataSeries(),
      textStyle: {
        fontFamily: 'monospace',
        fontSize: 18
      },
      dataZoom: [
        {
          type: 'slider',
          xAxisIndex: 0,
          filterMode: 'none'
        },
        {
          type: 'slider',
          yAxisIndex: 0,
          filterMode: 'none'
        },
        {
          type: 'inside',
          xAxisIndex: 0,
          filterMode: 'none'
        },
        {
          type: 'inside',
          yAxisIndex: 0,
          filterMode: 'none'
        }
      ],
      tooltip: {
        trigger: 'axis'
      }
    };
    curveChart.setOption(option, true);
  }


  function queryCurves(selectedEntityIds) {
    const queryEntityIds = selectedEntityIds.filter(id => !Object.hasOwnProperty.call(curvesData, id));
    if (queryEntityIds.length === 0) {
      return new Promise((resolve) => {
        resolve([]);
      });
    }
    const entityIdsStr = queryEntityIds.join(',');
    return $.ajax({
      type: 'GET',
      url: "{{ url_for('api_experimental.get_curves_by_entity_id') }}",
      data: {
        entity_ids: entityIdsStr,
        csrf_token: '{{ csrf_token() }}'
      },
      headers: { 'X-CSRFToken': '{{ csrf_token() }}' },
      dataType: 'json',
      contentType: 'application/json'
    }).then((resp) => {
      const { error, curves } = resp;
      if (error) {
        throw new Error(error);
      }
      if (!curves) {
        throw new Error('没有选择的曲线数据');
      }
      return curves;
    });
  }

  function viewCurves() {
    queryCurves(selectedEIds).then((curves) => {
      const newCurves = {};
      curves.forEach((c) => {
        newCurves[c.entity_id] = c.curve;
      });
      curvesData = {
        ...curvesData, ...newCurves
      };
      render();
    });
  }

  $(document).ready(() => {
    chartInit();
    curvesListInit();
    render();
    $('#btn-view-curves').on('click', viewCurves);
  });
</script>
{% endblock %}
