{% call dialog.dialog('spcModal') %}
<div style="height: 70vh; display: flex; flex-direction: column; ">
  <ul class="nav nav-tabs" style="margin-bottom: 5px;">
    <li id="spc-nav-torque" role="presentation" class="spc-nav active" onclick="onSelectNav('torque')"><a
      href="#">扭矩</a>
    </li>
    <li id="spc-nav-angle" class="spc-nav" role="presentation" onclick="onSelectNav('angle')"><a href="#">角度</a></li>
  </ul>
  <ul class="nav nav-pills">
    <li id="spc-sub-nav-x-r" class="spc-sub-nav active" role="presentation" onclick="onSelectSubNav('x-r')"><a
      href="#">x-r</a>
    </li>
    <li id="spc-sub-nav-x-s" class="spc-sub-nav" role="presentation" onclick="onSelectSubNav('x-s')"><a
      href="#">x-s</a>
    </li>
  </ul>
  <div
    style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;padding-right: 30px;">
    <h4 id="spc-title-container"></h4>
    <h4 id="spc-cpk-container"></h4>
  </div>
  <div id="spc-chart-container" style="flex:1;flex-direction: column;justify-content: center;align-items: center;">
    <div id="spc-echarts-rs" style="width: 100%;height:50%;"></div>
    <div id="spc-echarts-xbar" style="width: 100%;height:50%;"></div>
  </div>
  <div id="spc-loading-container"
       style="flex:1; display: none; flex-direction: column;justify-content: center;align-items: center;">
    <img style="display: flex;width:50px;,height:50px" alt="加载中..."
         src="{{ url_for('static', filename='loading.gif') }}">
  </div>
</div>
<script>
  $('#spcModal .modal-dialog').css({
    'display': 'flex',
    'flex-direction': 'column',
    'justify-content': 'center',
    'align-items': 'center'
  });
  $('#spcModal .modal-content').css("width", '80vw');
</script>
{% endcall %}

<script>
  var spc_data = {};
  var spcCurveChartRS = null;
  var spcCurveChartXBar = null;
  var spcQueryType = null;

  function setSPCLoading(isLoading) {
    if (isLoading) {
      $('#spc-chart-container').css({'display': 'none'});
      $('#spc-loading-container').css({'display': 'flex'});
    } else {
      $('#spc-chart-container').css({'display': 'flex'});
      $('#spc-loading-container').css({'display': 'none'});
    }
  }

  function doQuerySPC(selectedEntityIds) {
    setSPCLoading(true);
    $('#spc-cpk-container').html('');
    $('#spc-title-container').html('');
    const queryEntityIds = selectedEntityIds.filter(id => extraData[id].measureResult === 'OK');
    if (queryEntityIds.length === 0) {
      return new Promise((resolve) => {
        resolve([]);
      });
    }
    const entityIdsStr = queryEntityIds.join(',');
    return $.ajax({
      type: 'GET',
      url: "{{ url_for('api_experimental.get_spc_by_entity_id') }}",
      data: {
        entity_ids: entityIdsStr,
        // type: type,
        csrf_token: '{{ csrf_token() }}'
      },
      headers: {'X-CSRFToken': '{{ csrf_token() }}'},
      dataType: 'json',
      contentType: 'application/json'
    }).then((resp) => {
      const {error, spc} = resp;
      if (error) {
        throw new Error(error);
      }
      if (!spc) {
        throw new Error('未获取SPC信息');
      }
      setSPCLoading(false);
      return spc;
    }).fail((err) => {
      setSPCLoading(false);
      console.error(err.responseJSON && err.responseJSON.error);
      alert(err.responseJSON && err.responseJSON.error);
      // throw new Error(err);
    });
  }

  function canDoSPCAnalysis() {
    if (backendSelectedTasks && Object.keys(backendSelectedTasks).length > 0) {
      const backendSelectedEntityIds = Object.keys(backendSelectedTasks);
      selectedEIds = selectedEIds.concat(backendSelectedEntityIds);
      extraData = Object.assign(extraData, backendSelectedTasks);
    }
    if (selectedEIds.length === 0) {
      alert('SPC查看! 请确认! 未选中任意曲线!!!');
      return false;
    }
    const isNotOK = selectedEIds.filter(i => extraData[i].measureResult !== 'OK');
    if (isNotOK.length !== 0) {
      const v = isNotOK.map(i => `${extraData[i].carCode}@${extraData[i].date}`)
      const msg = `SPC查看! 请确认! 只能选择OK的曲线!!!,不正确的选择: ${v.join()}`;
      alert(msg);
      return false;
    }
    return true;
  }

  function viewSPC() {
    if (!canDoSPCAnalysis()) {
      return;
    }
    spcChartInit();

    showDialog('SPC分析', null, {});
    onSelectNav('torque');
  }

  function onSelectNav(type) {
    if ($('#spc-nav-' + type).hasClass('disabled')) {
      return;
    }
    $('.spc-nav').removeClass('active');
    $('#spc-nav-' + type).addClass('active');
    $('.spc-nav').addClass('disabled');
    querySPC(type);
  }

  function onSelectSubNav(type) {
    $('.spc-sub-nav').removeClass('active');
    $('#spc-sub-nav-' + type).addClass('active');
    // $('.spc-sub-nav').addClass('disabled');
    renderSPCChart(type);
  }

  function querySPC(type) {
    spcQueryType = type;
    doQuerySPC(selectedEIds).then((spc) => {
      spc_data = spc;
      $('.spc-nav').removeClass('disabled');
      onSelectSubNav('x-r');
    }).fail(() => {
      $('.spc-nav').removeClass('disabled');
    });
  }

  function renderSPCChart(type) {

    const baseOption = {
      grid: {
        bottom: 50
      },
      textStyle: {
        fontFamily: 'monospace',
        fontSize: 18
      },
      tooltip: {
        trigger: 'axis'
      }
    }
    const XBarData = spc_data[type].data[spcQueryType].xbar;
    const XBarOption = {
      xAxis: {
        data: XBarData.data.map((d, idx) => idx + 1),
        axisLabel: {
          fontSize: 16
        },
        boundaryGap: true,
        splitArea: {
          show: true
        }
      },
      yAxis: {
        type: 'value',
        name: 'x bar',
        min: function (value) {
          const min = Math.floor(Math.min(value.min, XBarData.lower));
          return min - 1;
        },
        max: function (value) {
          const max = Math.ceil(Math.max(value.max, XBarData.upper));
          return max + 1;
        },
        nameLocation: 'middle',
        nameRotate: 0,
        nameGap: 60,
        axisLabel: {
          fontSize: 16
        }
      },
      series: [{
        name: 'x bar',
        type: 'line',
        stack: 'all',
        symbolSize: 6,
        data: XBarData.data,
        markLine: {
          silent: true,
          lineStyle: {
            color: '#03A9F4'
          },
          data: [{
            yAxis: XBarData.lower
          }, {
            yAxis: XBarData.center
          }, {
            yAxis: XBarData.upper
          }]
        },
      }],


    };
    const RS = type === 'x-r' ? 'r' : 's'
    const RSData = spc_data[type].data[spcQueryType][RS];
    const RSOption = {
      xAxis: {
        data: RSData.data.map((d, idx) => idx + 1),
        axisLabel: {
          fontSize: 16
        },
        boundaryGap: true,
        splitArea: {
          show: true
        }
      },
      yAxis: {
        type: 'value',
        name: RS,
        nameLocation: 'middle',
        nameRotate: 0,
        nameGap: 60,
        min: function (value) {
          const min = Math.floor(Math.min(value.min, RSData.lower));
          return min - 1;
        },
        max: function (value) {
          const max = Math.ceil(Math.max(value.max, RSData.upper));
          return max + 1;
        },
        axisLabel: {
          fontSize: 16
        }
      },
      series: [{
        name: RS,
        type: 'line',
        symbolSize: 6,
        data: RSData.data,
        markLine: {
          silent: true,
          lineStyle: {
            color: '#03A9F4'
          },
          data: [{
            yAxis: RSData.lower
          }, {
            yAxis: RSData.center
          }, {
            yAxis: RSData.upper
          }]
        },
      }]
    };
    $('#spc-cpk-container').html('<span>CPK: ' + String(spc_data[type].data[spcQueryType].cpk) + '<span>');
    $('#spc-title-container').html(spc_data[type].title);

    if (spcCurveChartRS) {
      spcCurveChartRS.setOption({
        ...baseOption,
        ...RSOption
      }, true);
      spcCurveChartRS.resize();
    }
    if (spcCurveChartXBar) {
      spcCurveChartXBar.setOption({
        ...baseOption,
        ...XBarOption
      }, true);
      spcCurveChartXBar.resize();
    }
  }

  function spcChartInit() {
    spcCurveChartRS = echarts.init(document.getElementById('spc-echarts-rs'), null, {renderer: 'svg'});
    spcCurveChartXBar = echarts.init(document.getElementById('spc-echarts-xbar'), null, {renderer: 'svg'});

    // 指定图表的配置项和数据
    const option = {};

    // 使用刚指定的配置项和数据显示图表。
    if (spcCurveChartRS) {
      spcCurveChartRS.setOption(option);
      spcCurveChartRS.resize();
    }
    if (spcCurveChartXBar) {
      spcCurveChartXBar.setOption(option);
      spcCurveChartXBar.resize();
    }
  }

  $(window).resize(() => {
    if (spcCurveChartRS) {
      spcCurveChartRS.resize();
    }
    if (spcCurveChartXBar) {
      spcCurveChartXBar.resize();
    }
  });

  $(document).ready(() => {
    spcChartInit();
  });


</script>
