{% extends 'appbuilder/init.html' %}
{% import 'appbuilder/baselib.html' as baselib %}


{% block head_css %}
{{ super() }}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/curve_template.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/main.css') }}">
<script src="{{ url_for('static', filename='js/echarts.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id="root">
  <div id="result-container" class="card">
    <table id="result_table">
      <thead>
      <tr class="result-content-row">
        <th>Key</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody id="result_detail"></tbody>
    </table>
  </div>
  <div id="echarts-container" style="flex:1" class="card flex-column">
    <div class="flex" id="actions-container">
        <span class="btn-group" data-toggle="buttons">
          <label class="btn active" for="update-chart-w-m" id="update-chart-w-m-label"
                 title="Also include past task instances when clearing this one">
            <input id="update-chart-w-m" type="radio" name="chart-type" checked autocomplete="off">
            角度/扭矩
          </label>
          <label class="btn" for="update-chart-t-m" id="update-chart-t-m-label"
                 title="Also include past task instances when clearing this one">
            <input id="update-chart-t-m" type="radio" name="chart-type" autocomplete="off">
            时间/扭矩
          </label>
          <label class="btn" for="update-chart-t-w" id="update-chart-t-w-label"
                 title="Also include past task instances when clearing this one">
            <input id="update-chart-t-w" type="radio" name="chart-type" autocomplete="off">
            时间/角度
          </label>
        </span>
      <!--        <button class="btn btn-primary margin" id="update-chart-w-m">角度/扭矩</button>-->
      <!--        <button class="btn btn-primary margin" id="update-chart-t-m">时间/扭矩</button>-->
      <!--        <button class="btn btn-primary margin" id="update-chart-t-w">时间/角度</button>-->
    </div>
    <div style="flex:1">
      <div id="echarts-main" style="width: 100%;height:100%;"></div>
    </div>
  </div>
</div>
{% endblock %}


{% block tail_js %}
{{ super() }}
<script type="text/javascript">
  let curveChart = null;
  const curves = [];
  const curveTemplate = JSON.parse('{{ curve_template|tojson|safe }}');
  const timeStep = curveTemplate.curve_param.sampling_time;


  function isEmptyValue(val) {
    return val === undefined || val === null || val === '';
  }

  function renderResultTableRow(key, value) {
    const $tr = $('<tr class="result-content-row">');
    const $key = $(`<td class="result-content-item">${key}</td>`);
    let content = value;
    if (typeof value === 'object') {
      content = JSON.stringify(value);
    }
    const $value = $(`<td class="result-content-item">${isEmptyValue(content) ? '' : content}</td>`);
    $tr.append([$key, $value]);
    return $tr;
  }

  function renderCurveParam() {
    const { curve_param: curveParam } = curveTemplate;
    const $rows = [];
    Object.entries(curveParam).forEach(([k, v]) => {
      $rows.push(renderResultTableRow(k, v));
    });
    $('#result_detail').append($rows);
  }

  function genTimeSeries(step, length) {
    const digits = (`${step}`).split('.')[1];
    return Array.from(new Array(length), (item, idx) => +(idx * step).toFixed(digits ? digits.length : 4));
  }

  function loadCurvesData() {
    const { template_cluster: templateCluster } = curveTemplate;
    Object.entries(templateCluster).forEach(([mode, cluster]) => {
      const { curve_template_group_array: templateGroup } = cluster;
      templateGroup.forEach((group) => {
        const { template_data_array: curvesData, template_centroid_index: centroid } = group;
        curvesData.forEach((curve) => {
          const { template_angle: cur_w, template_torque: cur_m, start_point } = curve;
          curves.push({
            start_point,
            mode,
            centroid,
            cur_w,
            cur_m,
            cur_t: genTimeSeries(timeStep, cur_w.length),
          });
        });
      });
    });
  }

  function genData(curve, xKey, yKey) {
    if (!curve || !curve[xKey] || !curve[yKey]) {
      return [];
    }
    const xData = curve[xKey];
    const yData = curve[yKey];
    return xData.map((x, idx) => [xData[idx], yData[idx]]);
  }

  function genDataSeries(xKey, yKey, xName, yName) {
    return curves.map(c => ({
      name: yName,
      type: 'line',
      data: genData(c, xKey, yKey),
      symbol: 'none',
      markLine: {
        data: [
          { type: 'min', name: '最小值' },
          { type: 'max', name: '最大值' },
        ],
      },
    }));
  }

  function updateChart(xKey, yKey, xName, yName) {
    const option = {
      title: {
        text: `${xName}-${yName}图`,
      },
      legend: {
        type: 'scroll',
        data: [yName],
      },
      xAxis: { type: 'value' },
      yAxis: { type: 'value' },
      series: genDataSeries(xKey, yKey, xName, yName),
      dataZoom: [
        {
          type: 'slider',
          xAxisIndex: 0,
          filterMode: 'empty',
        },
        {
          type: 'slider',
          yAxisIndex: 0,
          filterMode: 'empty',
        },
        {
          type: 'inside',
          xAxisIndex: 0,
          filterMode: 'empty',
        },
        {
          type: 'inside',
          yAxisIndex: 0,
          filterMode: 'empty',
        },
      ],
      tooltip: {
        trigger: 'axis',
      },
    };
    curveChart.setOption(option);
  }

  function chartInit() {
    curveChart = echarts.init(document.getElementById('echarts-main'));

    // 指定图表的配置项和数据
    const option = {};

    // 使用刚指定的配置项和数据显示图表。
    curveChart.setOption(option);
    updateChart('cur_w', 'cur_m', '角度', '扭矩');
  }

  $('#update-chart-w-m').change(() => {
    updateChart('cur_w', 'cur_m', '角度', '扭矩');
  });

  $('#update-chart-t-m').change(() => {
    updateChart('cur_t', 'cur_m', '时间', '扭矩');
  });

  $('#update-chart-t-w').change(() => {
    updateChart('cur_t', 'cur_w', '时间', '角度');
  });

  $(window).resize(() => {
    if (!curveChart) {
      return;
    }
    curveChart.resize();
  });

  $(document).ready(() => {
    chartInit();
    renderCurveParam();
    loadCurvesData();
    chartInit();
  });
</script>
{% endblock %}
