{% extends "appbuilder/base.html" %}


{% block head_css %}
{{ super() }}
<!--<link rel="stylesheet" type="text/css"-->
<!--      href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">-->
<!--<link rel="stylesheet" type="text/css"-->
<!--      href="{{ url_for('static', filename='css/bootstrap.min.css') }}">-->
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/bootstrap3-extend.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/curves.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/bootstrap-treeview.min.css') }}">
<script src="{{ url_for('static', filename='js/echarts.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id="root">
  <div class="panel panel-default overflow-hidden border rounded-sm d-flex shadow-sm m-1  rounded flex-column">
    <div class="panel-heading">
      <h5 class="m-0 panel-title">曲线列表</h5>
    </div>
    <div id="tree" class="panel-body overflow-auto">

    </div>
  </div>
  {% include 'airflow/curve_chart.html' %}
</div>

{% endblock %}


{% block tail_js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/bootstrap-treeview.js') }}" type="text/javascript"></script>
<script type="text/javascript">
  const entityIds = JSON.parse('{{ entity_ids|tojson|safe }}');
  $(document).ready(() => {
    chartInit();
    console.log(entityIds);

  });
</script>
{% endblock %}
