{% extends "appbuilder/base.html" %}
{% import 'airflow/panel.html' as panel %}
{% import 'airflow/result_panel.html' as result_panel %}


{% block head_css %}
{{ super() }}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/bootstrap3-extend.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/curve.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/select2.min.css') }}">
{% endblock %}

{% block body %}
<div id="root">

  {% call panel.panel('基本信息','base-info-container') %}
  <div class="overflow-auto  p-0">
    <table class="table">
      <tbody id="base-info-content">
      </tbody>
    </table>
  </div>
  {% endcall %}
  {% call panel.panel('','result-check-container','flex-row') %}

  {{result_panel.result_panel('拧紧结果', 'measure-result-card',result.measure_result) }}

  {{ result_panel.result_panel('分析结果', 'analysis-result-card',task_instance.result,
  verify_error_map.get('{}'.format(task_instance.verify_error),task_instance.verify_error)) }}


  {% call panel.panel('二次确认', 'double-check-card','panel-danger base-info-item' if task_instance.final_state =='NOK'
  else ('panel-success base-info-item' if task_instance.final_state =='OK' else 'panel-default base-info-item')) %}
  <div class="panel-body d-flex flex-column justify-content-center align-items-center"
       style="flex:1">
    <!--      <button id="error-tag-button" class="btn btn-primary px-4 py-1">编辑</button>-->

    {% if task_instance.final_state %}
    <h2
      class="double-check-result {{'text-danger' if task_instance.final_state =='NOK' else ('text-success' if task_instance.final_state =='OK' else '')}}"
      style="font-weight: bolder">{{task_instance.final_state}}</h2>
    {% elif can_verify %}
    <h2 class="double-check-result">
      <button id="btn_double_check_success" style="width:110px;padding-top: 5px;padding-bottom: 5px;"
              class="button-double-check btn btn-lg btn-success mr-2 shadow">
        <div>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <span style="font-weight: 800">OK</span>
        </div>
      </button>
      <button id="btn_double_check_failed" style="width:110px;padding-top: 5px;padding-bottom: 5px;"
              class="button-double-check btn btn-lg btn-danger ml-2 shadow">
        <div>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <span style="font-weight: 800">NOK</span>
        </div>
      </button>
    </h2>
    {% else %}
    <h2 class="double-check-result">未确认</h2>
    {% endif %}
    <h4 id="error-tags"></h4>
  </div>
  {% endcall %}
  {% endcall %}

  {% include 'airflow/curve_chart.html' %}

  {% call panel.panel('结果数据','result-container') %}
  <div class=" overflow-auto p-0">
    <table id="result_table" class="table position-relative ">
      <thead>
      <tr class="result-content-row active">
        <th class="position-sticky" style="top:0">字段</th>
        <th class="position-sticky " style="top:0">值</th>
      </tr>
      </thead>
      <tbody id="result_detail"></tbody>
    </table>
  </div>
  {% endcall %}
</div>

{% include 'airflow/dialog.html' %}
{% endblock %}


{% block tail_js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/echarts.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/select2.min.js') }}" type="text/javascript"></script>
<script type="text/javascript">
  const result = JSON.parse('{{ result|tojson|safe }}');
  const curve = JSON.parse('{{ curve|tojson|safe }}');
  const errorTags = JSON.parse('{{ errorTags|tojson|safe }}');
  const resultErrs = JSON.parse('{{ resultErrorMessageMapping|tojson|safe }}');
  const resultKeys = JSON.parse('{{ resultKeysTranslationMapping|tojson|safe }}');
  let $errorTagsSelector = null;
  let $errorTagInput = null;

  function genData() {
    const { xKey, yKey } = chartParams;
    const data = [];
    const xData = curve[xKey];
    const yData = curve[yKey];
    for (const x in xData) {
      data.push([xData[x], yData[x]]);
    }
    return data;
  }

  function renderChart() {
    const { xName, yName } = chartParams;

    const option = {
      legend: {
        type: 'scroll',
        data: [yName]
      },
      grid: {
        bottom: 100
      },
      xAxis: {
        type: 'value',
        name: xName,
        nameLocation: 'middle',
        nameGap: 30,
        axisLabel: {
          fontSize: 16
        }
      },
      yAxis: {
        type: 'value',
        name: yName,
        nameLocation: 'middle',
        nameRotate: 0,
        nameGap: 50,
        axisLabel: {
          fontSize: 16
        }
      },
      series: [{
        name: yName,
        type: 'line',
        data: genData(),
        symbol: 'circle',
        showSymbol: false,
        itemStyle: {
          color: '#3083bf'
        },
        lineStyle: {
          color: '#3083bf',
          width: 3
        },
        markLine: {
          data: [
            { type: 'min', name: '最小值' },
            { type: 'max', name: '最大值' }
          ]
        }
      }],
      textStyle: {
        fontFamily: 'monospace',
        fontSize: 18
      },
      dataZoom: [
        {
          type: 'slider',
          xAxisIndex: 0,
          filterMode: 'none'
        },
        {
          type: 'slider',
          yAxisIndex: 0,
          filterMode: 'none'
        },
        {
          type: 'inside',
          xAxisIndex: 0,
          filterMode: 'none'
        },
        {
          type: 'inside',
          yAxisIndex: 0,
          filterMode: 'none'
        }
      ],
      tooltip: {
        trigger: 'axis'
      }
    };
    curveChart.setOption(option);
  }

  function isEmptyValue(val) {
    return val === undefined || val === null || val === '';
  }

  function renderResultTableRow(key, value, alert = null) {
    const $tr = $('<tr class="result-content-row">');
    const $key = $(`<td class="result-content-item">${key}</td>`);
    const $value = $(`<td class="result-content-item">${isEmptyValue(value) ? '' : value}</td>`);
    if (alert === false) {
      $tr.addClass('bg-success text-white font-weight-bold');
    } else if (alert === true) {
      $tr.addClass('bg-danger text-white font-weight-bold');
    }
    $tr.append([$key, $value]);
    return $tr;
  }

  function parseResultErrorCode(code) {
    if (!code) {
      return '';
    }
    if (typeof code !== 'string') {
      return code || '';
    }
    if (/[^0-1]/.test(code)) {
      return code;
    }
    const codeArr = code.split('').reverse();
    const messageArr = [];
    codeArr.forEach((val, idx) => {
      if (val === '0') {
        return;
      }
      messageArr.push(resultErrs[`${idx + 1}`] || '');
    });
    return messageArr;
  }

  function renderResultDetail() {
    const { measure_result: measureResult, error_code: errorCode, ...rest } = result;
    const $rows = [];
    const isNOK = (measureResult || '').toUpperCase() === 'NOK';
    $rows.push(renderResultTableRow(resultKeys.measure_result || 'measure_result', measureResult, isNOK));
    $rows.push(renderResultTableRow(resultKeys.error_code || 'error_code', parseResultErrorCode(errorCode), isNOK));
    Object.keys(rest).forEach((k) => {
      $rows.push(renderResultTableRow(resultKeys[k] || k, rest[k]));
    });
    $('#result_detail').append($rows);
  }

  function submitDoubleCheck(finalState, finalErrorTags) {
    const errorTagsArr = (finalErrorTags || []).map(t => JSON.parse(t));
    $.ajax({
      type: 'POST',
      url: "{{ url_for('api_experimental.double_confirm_task',dag_id=task_instance.dag_id, task_id=task_instance.task_id, execution_date=task_instance.execution_date ) }}",
      data: JSON.stringify({
        csrf_token: '{{ csrf_token() }}',
        final_state: finalState,
        error_tags: errorTagsArr,
        execution_date: '{{task_instance.execution_date}}'
      }),
      headers: { 'X-CSRFToken': '{{ csrf_token() }}' },
      dataType: 'json',
      contentType: 'application/json'
    }).then((resp) => {
      const resultClass = finalState === 'OK' ? 'panel-success' : 'panel-danger';
      $('#double-check-card').addClass(resultClass);
      $('.double-check-result').html(`${finalState}`)
        .addClass(finalState === 'OK' ? 'text-success' : 'text-danger')
        .css({ 'font-weight': 'bolder' });
      $('#doubleCheckModal').modal('hide');
      if (resp && resp.response === 'ok') {
        $('#error-tags').html(errorTagsArr.map(t => `${t}`).map(getErrorTagText).filter(t => !!t).map(t => t.label).join(','));
      }
    });
  }

  function tagsSelector() {
    $errorTagsSelector = $(
      '<label for="error-tag-select" id="error-tag-label-container" class="my-0">'
      + '          <select class="error-tag-select-input" id="error-tag-select" name="error_tags[]" multiple>'
      + '            {% for err in errorTags %}'
      + '            <option value="{{err.value}}" data-value="{{err.value}}">{{err.label}}</option>'
      + '            {% endfor %}'
      + '          </select>'
      + '        </label>',
    );
    $errorTagInput = $errorTagsSelector.find('.error-tag-select-input');
    $errorTagInput.select2({
      width: '100%'
    });

    $errorTagInput.val(getTaskErrorTags()).trigger('change');
    return $errorTagsSelector;
  }

  function confirmDoubleCheck(status) {
    const message = status === 'OK' ? `二次确认曲线结果为：${status}，曲线的标签将被清除。`
      : `二次确认曲线结果为：${status}，请选择曲线标签：`;
    const $content = $('<div/>');
    const $message = $(`<h4 style="font-weight: normal">${message}</h4>`);
    $content.append($message);
    if (status === 'NOK') {
      const $selector = tagsSelector();
      $content.append($selector);
    }
    showDialog('二次确认', $content, {
      onConfirm() {
        const finalErrorTags = $errorTagInput && $errorTagInput.val() || [];
        submitDoubleCheck(status, finalErrorTags);
      }
    });
  }

  $('#btn_double_check_failed').click((e) => {
    confirmDoubleCheck('NOK');
  });
  $('#btn_double_check_success').click((e) => {
    confirmDoubleCheck('OK');
  });

  function renderBaseInfoRow(label, value) {
    return $(
      `<tr>
        <td><h4 class="m-0 p-1" style="font-weight: normal">${label}</h4></td>
        <td><h4 class="m-0 p-1" style="font-weight: normal">${value}</h4></td>
      </tr>`
    );
  }

  function renderBaseInfo() {
    const info = [
      { label: '曲线编号', value: '{{task_instance.entity_id}}' },
      {
        label: '螺栓编号',
        value: '<a target="_blank" href="' + "{{url_for('VariableModelView.list',_flt_0_key=task_instance.bolt_number,_flt_0_is_curve_template='y')}}" + '">{{task_instance.bolt_number}}</a>'
      },
      { label: '拧紧时间', value: new Date('{{task_instance.execution_date}}').toLocaleString() },
      { label: '工段', value: '{{controller.line_code}}' },
      { label: '工位名称', value: '{{controller.work_center_name}}' },
      { label: '工位编号', value: '{{controller.work_center_code}}' },
      { label: '控制器', value: '{{controller.controller_name}}' },
      { label: '工具序列号', value: '{{result.tool_sn}}' }
    ];

    $('#base-info-content').append(info.map(i => renderBaseInfoRow(i.label, i.value)));
  }

  function getTaskErrorTags() {
    try {
      return JSON.parse('{{task_instance.error_tag}}').map(t => `${t}`);
    } catch (e) {
      console.error(e);
      return [];
    }
  }

  function getErrorTagText(val) {
    const tag = errorTags.find(e => e.value === val);
    if (tag) {
      return tag;
    }
    return null;
  }

  function getTaskErrorTagLabels() {
    try {
      const tagsVal = getTaskErrorTags();
      return tagsVal.map(getErrorTagText).filter(t => !!t).map(t => t.label);
    } catch (e) {
      console.error(e);
      return [];
    }
  }

  function renderErrorTags() {
    const tags = getTaskErrorTagLabels();
    const tagsContainer = $('#error-tags');
    tagsContainer.append(tags.join('，'));
  }

  $(document).ready(() => {
    renderBaseInfo();
    chartInit();
    renderChart();
    renderResultDetail();
    renderErrorTags();
  });
</script>
{% endblock %}
