<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

{% macro render_node(node, is_header=False) %}
  {% if node.children %}
    <details class="node-container" open>
      <summary class="node-summary">{{ render_node_content(node, is_header) }}</summary>
      <ul class="node-children">
        {% for child in node.children %}
          {{ render_node(child) }}
        {% endfor %}
      </ul>
    </details>
  {% else %}
    <li class="leaf-node">{{ render_node_content(node, is_header) }}</li>
  {% endif %}
{% endmacro %}

{% macro render_node_content(node, is_header=False) %}
  {{ node.display_name }} (<span class="asset-type">{{ node.asset_type_short }}</span> <span class="location">@{{ node.location }}</span>{% if is_header %}, ID: <span class="resource-id">{{ node.resource_id }}</span>{% endif %}){% if node.is_protected %} <span class="protected">(Protected)</span>{% endif %}
{% endmacro %}
