{#
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
 #}

{% extends base_template %}
{% block page_title %}Assets - {{ appbuilder.app_name }}{% endblock %}
{% from 'appbuilder/loading_dots.html' import loading_dots %}

{% block head_meta %}
  {{ super() }}
  <meta name="assets_summary" content="{{ url_for('Airflow.assets_summary') }}">
  <meta name="asset_api" content="{{ url_for('/api/v1.airflow_api_connexion_endpoints_asset_endpoint_get_asset', uri='__URI__') }}">
  <meta name="asset_events_api" content="{{ url_for('/api/v1.airflow_api_connexion_endpoints_asset_endpoint_get_asset_events') }}">
  <meta name="create_asset_event_api" content="{{ url_for('/api/v1.airflow_api_connexion_endpoints_asset_endpoint_create_asset_event') }}" >
  <meta name="grid_url" content="{{ url_for('Airflow.grid', dag_id='__DAG_ID__') }}">
  <meta name="assets_docs" content="{{ get_docs_url('concepts/assets.html') }}">
  <meta name="asset_dependencies_url" content="{{ url_for('Airflow.asset_dependencies') }}">
  <meta name="task_instance_api" content="{{ url_for('/api/v1.airflow_api_connexion_endpoints_task_instance_endpoint_get_task_instance', dag_id='_DAG_ID_', dag_run_id='_DAG_RUN_ID_', task_id='_TASK_ID_') }}">
{% endblock %}

{% block content %}
  {{ super() }}
  <div id="root">
    <div id="react-container"></div>
    {{ loading_dots(id='react-loading') }}
  </div>
{% endblock %}

{% block tail_js %}
  {{ super()}}
  <script>
    const stateColors = {{ state_color_mapping|tojson }};
    const autoRefreshInterval = {{ auto_refresh_interval }};
  </script>
  <script src="{{ url_for_asset('assets.js') }}"></script>
{% endblock %}
