{# 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

#}
{% extends "airflow/dag.html" %}
{% block title %}Airflow - DAGs{% endblock %}

{% block body %}
    {{ super() }}
    {% if (is_editable and code) %}
      <form method="post" id="dag_form">
        <div class="form-inline">
          <div class="dag-header">
            <h4>{{ title }}</h4>
            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
            <input type="submit" class="btn btn-primary" value="Save">
          </div>
          <span id="results"></span><br>
          <div id='dag_editor' style="visibility: hidden;">{{ code|safe }}</div>
          <textarea id="dag_edited" name="dag_edited">{{ code|safe }}</textarea>
        </div>
      </form>
    {% else %}
      <h4>{{ title }}</h4>
      {% if html_code %}
          {{ html_code|safe }}
      {% endif %}
      {% if code_dict %}
          {% for k, v in code_dict.items() %}
              <h5>{{ k }}</h5>
              <pre>{{ v }}</pre>
          {% endfor %}
      {% endif %}
      {% if html_dict %}
          {% for k, v in html_dict.items() %}
              <h5>{{ k }}</h5>
              {{ v|safe }}
          {% endfor %}
      {% endif %}
    {% endif %}
{% endblock %}

{% block tail %}
  {{ super() }}
  <script src="{{ url_for('static', filename='ace.js') }}"></script>
  <script src="{{ url_for('static', filename='mode-python.js') }}"></script>
  <script>
    $( document ).ready(function() {
      {% if (is_editable and code) %}
        var editor = ace.edit("dag_editor");
        var textarea = $('textarea[name="dag_edited"]').hide();
        function sync() {
            textarea.val(editor.getSession().getValue());
        }
        editor.setTheme("ace/theme/crimson_editor");
        editor.setOptions({
            minLines: 3,
            maxLines: Infinity,
        });
        editor.getSession().setMode("ace/mode/python");
        editor.getSession().on('change', sync);
        // Prevents ugly code look before ace editor has rendered it
        $('#dag_editor').css('visibility', 'visible');
        editor.focus();
      {% endif %}

      // We blur task_ids in demo mode
      if ("{{ demo_mode }}" == "True") {
        $("pre span.s").css({
            'text-shadow': '0px 0px 10px red',
            'color': 'transparent',
        });
      }
    });
  </script>
{% endblock %}
