{#
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
#}

{% extends "airflow/dag.html" %}
{% block page_title %}{{ dag.dag_id }} - Duration chart - Airflow{% endblock %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='css/tree.css') }}">
<link href="{{ url_for_asset('dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css" >
<link rel="stylesheet" type="text/css"
      href="{{ url_for_asset('nv.d3.min.css') }}">
<script src="{{ url_for_asset('d3.min.js') }}"></script>
<script src="{{ url_for_asset('nv.d3.min.js') }}"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div>
  <label for="isCumulative">Cumulative Duration</label>
  <input id="isCumulative" type="checkbox" value="1">
</div>
<div style="float: left" class="form-inline">
    <form method="get" style="float:left;">
        Base date: {{ form.base_date(class_="form-control") }}
        Number of runs: {{ form.num_runs(class_="form-control") }}
        <input type="hidden" name="root" value="{{ root if root else '' }}">
        <input type="hidden" value="{{ dag.dag_id }}" name="dag_id">
        <input type="submit" value="Go" class="btn btn-default"
         action="" method="get">
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    </form>
         <div align="right" style="float:right;">
           &nbsp &nbsp Legend Search
        <span id="statuses_info" class="glyphicon glyphicon-info-sign" aria-hidden="true"
             title="Use this feature if you like to drill down on specific tasks and see how the graph reflect their
                  data. When a specific task is picked from the textbox it toggles the `checked` status(below).
                  checked becomes unchecked and vice-versa."></span>:
     <input id="task_query" type="text" class="typeahead form-control" data-provide="typeahead"
            value="{{search_query}}" autocomplete="off" oninput="onInput()" placeholder="Enter Job Name">

    <button id="btnEnable" onclick="disableAllSeries()" class="btn btn-default">Disable All</button>
    <button id="btnDisable" onclick="enableAllSeries()" class="btn btn-default">Enable All</button>
   </div>
</div>
<div id="dur_chart" style="clear: both;">{{ chart }}</div>
<div id="cum_dur_chart" style="clear: both;">{{ cum_chart }}</div>
<hr/>
{% endblock %}

{% block tail %}
  <script>
    function handleCheck() {
      if ($('#isCumulative').is(':checked')) {
        $('#dur_chart').hide();
        $('#cum_dur_chart').show();
      } else {
        $('#dur_chart').show();
        $('#cum_dur_chart').hide();
      };
    };
    $( document ).on('chartload', function() {
      handleCheck();
    });
    $('#isCumulative').click(function() {
      handleCheck();
    });

    function disableAllSeries(dt) {
     if ($('#isCumulative').is(':checked')) {
        if (!dt) dt = d3.select('#cum_dur_chart svg').datum();
        for (var k in dt) {
           if(!dt[k].key.includes('Dag Duration'))
            dt[k].disabled = true;
        }
     d3.select('#cum_dur_chart svg').datum(dt).transition().duration(0).call(chart);
      } else {
        if (!dt) dt = d3.select('#dur_chart svg').datum();
        for (var k in dt) {
           if(!dt[k].key.includes('Dag Duration'))
            dt[k].disabled = true;
        }
     d3.select('#dur_chart svg').datum(dt).transition().duration(0).call(chart);
      };
    }

   function enableAllSeries(dt) {
     if ($('#isCumulative').is(':checked')) {
        if (!dt) dt = d3.select('#cum_dur_chart svg').datum();
        for (var k in dt) {
           if(!dt[k].key.includes('Dag Duration'))
            dt[k].disabled = false;
        }
     d3.select('#cum_dur_chart svg').datum(dt).transition().duration(0).call(chart);
      } else {
        if (!dt) dt = d3.select('#dur_chart svg').datum();
        for (var k in dt) {
           if(!dt[k].key.includes('Dag Duration'))
            dt[k].disabled = false;
        }
     d3.select('#dur_chart svg').datum(dt).transition().duration(0).call(chart);
      };
    }

  function enableSpecificLegend(dt){
      if ($('#isCumulative').is(':checked')) {
       if (!dt) dt = d3.select('#cum_dur_chart svg').datum();
      for (var k in dt) {
        if (dt[k].key.includes(tok))
          dt[k].disabled = false;
    }
     d3.select('#cum_dur_chart svg').datum(dt).transition().duration(0).call(chart);
      }
      else {
        if (!dt) dt = d3.select('#dur_chart svg').datum();
      for (var k in dt) {
        if (dt[k].key.includes(tok))
          dt[k].disabled = false;
    }
     d3.select('#dur_chart svg').datum(dt).transition().duration(0).call(chart);
      };
  }

  function onInput(){
      if (tok === 'initialized'){
       if ($('#isCumulative').is(':checked')) {
         if (!dt) dt = d3.select('#cum_dur_chart svg').datum();
        dt.sort(function(a,b){
        return a.key.localeCompare(b.key);
        })
      d3.select('#cum_dur_chart svg').datum(dt).transition().duration(0).call(chart);
       }
       else{
         if (!dt) dt = d3.select('#dur_chart svg').datum();
        dt.sort(function(a,b){
        return a.key.localeCompare(b.key);
        })
      d3.select('#dur_chart svg').datum(dt).transition().duration(0).call(chart);

       };
  }
  }

  function toggleSpecificLegend(dt){
   if ($('#isCumulative').is(':checked')) {
      if (!dt) dt = d3.select('#cum_dur_chart svg').datum();
      for (var k in dt) {
        if(!dt[k].key.includes('Dag Duration'))
          if (dt[k].key.includes(tok))
            if (dt[k].disabled)
            dt[k].disabled = false;
            else
            dt[k].disabled = true;
    }
     d3.select('#cum_dur_chart svg').datum(dt).transition().duration(0).call(chart);
   }
   else {
      if (!dt) dt = d3.select('#dur_chart svg').datum();
      for (var k in dt) {
       if(!dt[k].key.includes('Dag Duration'))
          if (dt[k].key.includes(tok))
            if (dt[k].disabled)
            dt[k].disabled = false;
            else
            dt[k].disabled = true;
    }
     d3.select('#dur_chart svg').datum(dt).transition().duration(0).call(chart);
   };

  }
  </script>
  <script src="{{ url_for_asset('bootstrap3-typeahead.min.js') }}"></script>
  <script>
    var $input = $(".typeahead");
        unique_options_search = new Set([
          {% for token in auto_complete_data %}"{{token}}", {% endfor %}
        ]);

        $input.typeahead({
          source: [...unique_options_search],
          autoSelect: false,
          afterSelect: function(value) {
            search_query = value.trim()
            if (search_query) {
              tok = value;
              toggleSpecificLegend();
            }
          }
        });
  </script>
  {{ super() }}
{% endblock %}
