{#
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
#}

{% extends base_template %}

{% block content %}
  {{ super() }}
  {% set base_date_arg = request.args.get('base_date') %}
  {% set num_runs_arg = request.args.get('num_runs') %}
  {% if execution_date is defined %}
    {% set execution_date_arg = execution_date %}
  {% else %}
    {% set execution_date_arg = request.args.get('execution_date') %}
  {% endif %}
  <a href="{{ url_for('Airflow.'+ dag.default_view, dag_id=dag.dag_id, root=root, num_runs=num_runs_arg, base_date=base_date_arg, execution_date=execution_date_arg) }}" title="Go to parent DAG">
    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
    {{ 'SUBDAG' if dag.parent_dag is defined and dag.parent_dag else 'DAG' }}: {{ dag.dag_id }}
  </a>
  <h3>
    <form method="get" id="daform" action="#">
      <input type="hidden" name="dag_id" value="{{ dag.dag_id }}" >
      <input type="hidden" value="{{ task_id }}" name="task_id">
      <div class="form-inline">
        <span class="text-muted">Task Instance:</span> {{ task_id }}
        <span class="text-muted">at</span> {{ form.execution_date(class_="form-control") }}
      </div>
    </form>
  </h3>
  <ul class="nav nav-pills">
    <li><a href="{{ url_for("Airflow.task", dag_id=dag.dag_id, task_id=task_id, execution_date=execution_date) }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
      Task Instance Details</a></li>
    <li><a href="{{ url_for("Airflow.rendered", dag_id=dag.dag_id, task_id=task_id, execution_date=execution_date) }}">
        <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
      Rendered Template</a></li>
    <li><a href="{{ url_for("Airflow.log", dag_id=dag.dag_id, task_id=task_id, execution_date=execution_date) }}">
        <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
      Log</a></li>
    <li><a href="{{ url_for("Airflow.xcom", dag_id=dag.dag_id, task_id=task_id, execution_date=execution_date) }}">
        <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
      XCom</a></li>
  </ul>
  <hr>
{% endblock %}
{% block tail %}
  {{ super() }}
  <script>
    $( document ).ready(function() {
      // Pills highlighting
      $('a[href*="' + this.location.pathname + '"]').parent().addClass('active');

      function date_change(e) {
          // We don't want to navigate away if the datetimepicker is still visible
          if ($(".datetimepicker bootstrap-datetimepicker-widget :visible").length > 0)
            return

          $("input#execution_date").parents("form").submit();
      }
      $("input#execution_date").parents(".datetimepicker").on("dp.change", date_change);
      $("input#execution_date").parents(".datetimepicker").on("dp.hide", date_change);
    });
  </script>
{% endblock %}
