I have a kind request for all the contributors to the latest provider distributions release.
Could you please help us to test the RC versions of the providers?

The guidelines on how to test providers can be found in

[Verify providers by contributors](https://github.com/apache/airflow/blob/main/dev/README_RELEASE_PROVIDERS.md#verify-the-release-candidate-by-contributors)

Let us know in the comments, whether the issue is addressed.

These are providers that require testing as there were some substantial changes introduced:

{% for provider_id, provider_info in providers.items()  %}
## Provider [{{ provider_id }}: {{ provider_info.version }}{{ provider_info.suffix }}](https://pypi.org/project/{{ provider_info.pypi_package_name }}/{{ provider_info.version }}{{ provider_info.suffix }})
{%- for pr in provider_info.pr_list %}
   - [ ] [{{ pr.title }} (#{{ pr.number }})]({{ pr.html_url }}): @{{ pr.user.login }}
   {%- if pr.number in linked_issues %}
     Linked issues:
     {%- for linked_issue in linked_issues[pr.number] %}
       - [ ] [Linked Issue #{{ linked_issue.number }}]({{ linked_issue.html_url }}): @{{ linked_issue.user.login }}
     {%- endfor %}
   {%- endif %}
{%- endfor %}
{%- endfor %}

<!--

NOTE TO RELEASE MANAGER:

You can move here the providers that have doc-only changes or for which changes are trivial, and
you could assess that they are OK.

-->
