# TODO(potiuk): change it to apache-airflow-providers-* after all providers are migrated to the new structure
# Eventually when we swtich to individually build docs for each provider, we should remove this altogether
apache-airflow-providers-airbyte
apache-airflow-providers-alibaba
apache-airflow-providers-apache-beam
apache-airflow-providers-apache-cassandra
apache-airflow-providers-apache-drill
apache-airflow-providers-apache-druid
apache-airflow-providers-apache-iceberg
apache-airflow-providers-apache-kafka
apache-airflow-providers-apache-kylin
apache-airflow-providers-apache-livy
apache-airflow-providers-apache-pig
apache-airflow-providers-apache-pinot
apache-airflow-providers-apache-spark
apache-airflow-providers-apprise
apache-airflow-providers-asana
apache-airflow-providers-atlassian-jira
apache-airflow-providers-celery
apache-airflow-providers-cohere
apache-airflow-providers-common-compat
apache-airflow-providers-common-io
apache-airflow-providers-common-sql
apache-airflow-providers-datadog
apache-airflow-providers-dbt-cloud
apache-airflow-providers-discord
apache-airflow-providers-docker
apache-airflow-providers-edge
apache-airflow-providers-elasticsearch
apache-airflow-providers-exasol
apache-airflow-providers-facebook
apache-airflow-providers-ftp
apache-airflow-providers-github
apache-airflow-providers-http
apache-airflow-providers-influxdb
apache-airflow-providers-mongo
apache-airflow-providers-openlineage
apache-airflow-providers-hashicorp
apache-airflow-providers-imap
apache-airflow-providers-neo4j
apache-airflow-providers-openai
apache-airflow-providers-openfaas
apache-airflow-providers-opensearch
apache-airflow-providers-opsgenie
apache-airflow-providers-papermill
apache-airflow-providers-pgvector
apache-airflow-providers-mysql
apache-airflow-providers-odbc
apache-airflow-providers-jenkins
apache-airflow-providers-pagerduty
apache-airflow-providers-openai
apache-airflow-providers-pgvector
apache-airflow-providers-pinecone
apache-airflow-providers-postgres
apache-airflow-providers-presto
apache-airflow-providers-qdrant
apache-airflow-providers-samba
apache-airflow-providers-segment
apache-airflow-providers-sftp
apache-airflow-providers-singularity
apache-airflow-providers-slack
apache-airflow-providers-ssh
apache-airflow-providers-snowflake
apache-airflow-providers-standard
apache-airflow-providers-teradata
apache-airflow-providers-tableau
apache-airflow-providers-telegram
apache-airflow-providers-trino
apache-airflow-providers-vertica
apache-airflow-providers-weaviate
apache-airflow-providers-ydb
apache-airflow-providers-zendesk
