adal==1.2.0
alabaster==0.7.12
alembic==0.8.7
amqp==2.3.2
analytics-python==1.2.9
appdirs==1.4.3
asn1crypto==0.24.0
atlasclient==0.1.2
azure-common==1.1.16
azure-datalake-store==0.0.19
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.4.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-resource==1.2.2
azure-nspkg==3.0.2
azure-storage==0.36.0
azure-storage-blob==1.4.0
azure-storage-common==1.4.0
azure-storage-nspkg==3.1.0
Babel==2.6.0
backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
bcrypt==3.1.5
billiard==3.5.0.5
bitarray==0.8.1
bleach==2.1.2
boto==2.42.0
boto3==1.7.84
botocore==1.10.84
cachetools==3.0.0
cassandra-driver==3.16.0
celery==4.1.1
certifi==2017.4.17
cffi==1.11.5
cgroupspy==0.1.6
chardet==3.0.4
click==6.7
cloudant==0.5.1
colorama==0.3.9
configparser==3.5.0
cookies==2.2.1
croniter==0.3.25
cryptography==2.4.2
cx-Oracle==7.0.0
Cython==0.29.2
datadog==0.26.0
decorator==4.3.0
defusedxml==0.5.0
dicttoxml==1.7.4
dill==0.2.8.2
dnspython==1.16.0
docker==3.6.0
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.13.1
ecdsa==0.13
elasticsearch==5.4.0
elasticsearch-dsl==5.3.0
entrypoints==0.3
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.19.0
fastavro==0.9.6
filechunkio==1.8
Flask==0.12.4
Flask-Admin==1.4.1
Flask-AppBuilder==1.11.1
Flask-Babel==0.11.1
Flask-Bcrypt==0.7.1
Flask-Cache==0.13.1
Flask-Caching==1.3.3
Flask-Login==0.2.11
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.1
flask-swagger==0.2.13
Flask-WTF==0.14.2
flower==0.9.1
freezegun==0.3.11
funcsigs==1.0.0
future==0.16.0
future-fstrings==0.4.5
futures==3.1.1
gevent==1.1.2
gitdb2==2.0.0
GitPython==2.1.3
google-api-core==1.7.0
google-api-python-client==1.7.7
google-auth==1.6.2
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
google-cloud-bigquery==1.8.1
google-cloud-container==0.2.1
google-cloud-core==0.29.1
google-resumable-media==0.3.2
googleapis-common-protos==1.5.5
greenlet==0.4.15
grpcio==1.17.1
gunicorn==19.9.0
hdfs==2.0.10
hmsclient==0.1.1
html5lib==0.999999999
httplib2==0.12.0
idna==2.8
ijson==2.3
imagesize==1.1.0
impyla==0.14.0
inflection==0.3.1
ipaddress==1.0.22
iso8601==0.1.12
isodate==0.6.0
itsdangerous==0.24
JayDeBeApi==1.1.1
Jinja2==2.8.1
jira==2.0.0
jmespath==0.9.3
JPype1==0.6.3
keyring==17.1.1
kombu==4.2.2.post1
kubernetes==8.0.1
ldap3==2.5.2
linecache2==1.0.0
lockfile==0.12.2
lxml==3.7.3
Mako==1.0.4
Markdown==2.6.6
MarkupSafe==1.0
mock==2.0.0
mongomock==3.14.0
monotonic==1.5
moto==1.1.19
msrest==0.4.29
msrestazure==0.6.0
multi-key-dict==2.0.3
mysqlclient==1.3.14
nose==1.3.7
nose-ignore-docstring==0.2
nose-timer==0.7.4
ntlm-auth==1.2.0
numpy==1.15.4
oauthlib==3.0.0
ordereddict==1.1
packaging==16.8
pandas==0.18.1
pandas-gbq==0.8.0
parameterized==0.6.1
paramiko==2.4.2
pathlib2==2.3.3
pbr==5.1.1
pendulum==1.4.4
pinotdb==0.1.1
protobuf==3.6.0
psutil==4.4.2
psycopg2-binary==2.7.6.1
pyaml==18.11.0
pyasn1==0.4.5
pyasn1-modules==0.2.3
pycparser==2.19
pycrypto==2.6.1
pycryptodomex==3.7.2
pydruid==0.5.0
Pygments==2.1.3
PyHive==0.6.1
PyJWT==1.7.1
pykerberos==1.1.13
pymongo==3.7.2
PyNaCl==1.3.0
pyOpenSSL==18.0.0
pyparsing==2.3.0
pysftp==0.2.9
PySmbClient==0.1.5
python-daemon==2.1.2
python-dateutil==2.7.5
python-editor==1.0.3
python-http-client==3.1.0
python-jenkins==1.4.0
python-krbV==1.0.90
python-nvd3==0.15.0
python-openid==2.2.5
python-slugify==2.0.1
pytz==2018.9
pytzdata==2018.7
pywinrm==0.3.0
PyYAML==3.12
qds-sdk==1.10.4
redis==2.10.5
rednose==1.3.0
requests==2.21.0
requests-futures==0.9.4
requests-kerberos==0.12.0
requests-mock==1.5.2
requests-ntlm==1.1.0
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
retrying==1.3.3
rsa==4.0
s3transfer==0.1.13
sasl==0.2.1
scandir==1.9.0
sendgrid==5.6.0
sentinels==1.0.0
setproctitle==1.1.10
six==1.12.0
slackclient==1.0.0
smmap2==2.0.5
snakebite==2.11.0
snowballstemmer==1.2.1
snowflake-connector-python==1.7.4
snowflake-sqlalchemy==1.1.6
Sphinx==1.8.3
sphinx-argparse==0.2.5
Sphinx-PyPI-upload==0.2.1
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.1.18
ssh-import-id==3.21
statsd==3.2.1
tabulate==0.7.7
tenacity==4.8.0
termstyle==0.1.11
thrift==0.11.0
thrift-sasl==0.3.0
tokenize-rt==2.1.0
tornado==4.2
traceback2==1.4.0
typing==3.6.6
tzlocal==1.5.1
unicodecsv==0.14.1
Unidecode==0.4.20
unittest2==1.1.0
uritemplate==3.0.0
urllib3==1.24.1
vertica-python==0.8.2
vine==1.2.0
webencodings==0.5.1
websocket-client==0.40.0
Werkzeug==0.14.1
WTForms==2.1
xmltodict==0.11.0
zdesk==2.7.1
zope.deprecation==4.4.0
