/**
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements. See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership. The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License. You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied. See the License for the
* specific language governing permissions and limitations
* under the License.
*/

g.node rect {
    stroke-width: 3;
    stroke: white;
    cursor: pointer;
}
g.node text {
    cursor: pointer;
}
g.node.success rect {
    stroke: #02a562;
}
g.node.up_for_retry rect {
    stroke: #FFC847;
}
g.node.queued rect {
    stroke: #8f8d86;
}
g.node.up_for_reschedule rect{
    stroke: #47DAE9;
}
g.node.running rect{
    stroke: #07d65b;
}
g.node.failed rect {
    stroke: #fb5b3c;
}
g.node.shutdown rect{
    stroke: #0784aa;
}
g.node.upstream_failed rect{
    stroke: #ff9a09;
}
g.node.skipped rect{
    stroke: #F4788F;
}
div#svg_container {
 border: 1px solid black;
 background-color: #EEE;
 cursor: move;
}

#refresh_button {
    top: 15px;
    right: 15px;
    position: relative;
}

#loading {
    margin: auto;
    display: none;
    position: relative;
    width: 100px;
    top: -550px;
}
