# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Publish Docker image

on:
  release:
    types: [published]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: mobagel/airflow

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        env:
          AIRFLOW_GPL_UNIDECODE: yes
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            AIRFLOW_VERSION=2.3.2
            AIRFLOW_EXTRAS=async,celery,cncf.kubernetes,dask,docker,grpc,http,ldap,postgres,redis,statsd,virtualenv
            PYTHON_BASE_IMAGE=python:3.8-slim-buster
            ADDITIONAL_PYTHON_DEPS=google-ads==15.1.1 google-api-python-client==2.37.0 scikit-learn==1.0.2 slack-sdk==3.14.1 pyjanitor==0.22.0 awesome-minio>=1.0.3 simplejson==3.17.6 glom==22.1.0 facebook-business==12.0.1 yfinance==0.1.70 pandas-datareader==0.10.0 awesome-object-store>=2.0.3
